<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div class="order_center_box">
	<!--header-->
	<div class="header_wrap">
		<div class="wrap clearfix">
			<div class="header_locate">
				<a href="javacript:void(0);"><i></i>朝阳区</a>
				<span>免费安轮胎质量有保障</span>
			</div>
			<div class="header_state">
				<ul class="clearfix">
					<li><a href="javacript:void(0);">登录</a><em>|</em></li>
					<li><a href="javacript:void(0);">注册</a><em>|</em></li>
					<li><a href="javacript:void(0);">购物车 (<span>0</span>)</a><em>|</em></li>
					<li><a href="javacript:void(0);">个人中心</a><em>|</em></li>
					<li><a href="javacript:void(0);">联系我们</a><em>|</em></li>
					<li><a href="javacript:void(0);">APP下载</a></li>
				</ul>
			</div>
		</div>
		<div class="header">
			<div class="wrap clearfix">
				<h1 class="fl logo">
					<a href="javacript:void(0);">logo</a>
				</h1>
				<div class="header_opera">
					<div class="header_label">
						<ul class="clearfix">
							<li>正品轮胎</li>
							<li>售后保险</li>
							<li>免费安装</li>
							<li>价格公道</li>
							<li>就近分配</li>
						</ul>
					</div>
					<div class="header_search">
						<input type="text" placeholder="请输入商品" />
						<a href="javacript:void(0);"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="header_menu_wrap">
			<div class="wrap clearfix">
				<div class="header_menu">
					<ul class="clearfix">
						<li><a href="javacript:void(0);">首页</a></li>
						<li><a class="active" href="javacript:void(0);">轮胎</a></li>
						<li><a href="javacript:void(0);">汽车配件</a></li>
						<li><a href="javacript:void(0);">积分换购</a></li>
					</ul>
				</div>
				<div class="header_tel">
					<span><i></i>010-8888888</span>
				</div>
			</div>
		</div>
	</div>
		
	<!--container-->
	<div class="wrap">
		<p class="page_nav">
			<a href="javacript:void(0);">首页</a>
			<span>></span>
			<a href="javacript:void(0);">个人中心</a>
			<span>></span>
			<a href="javacript:void(0);">订单中心</a>
			<span>></span>
			<em>我的订单</em>
		</p>
		<div class="clearfix">
			<!--左侧导航-->
			<div class="fl order_center_nav">
				<dl>
					<dt>订单中心</dt>
					<dd><a class="active" href="javacript:void(0);">我的订单</a></dd>
				</dl>
				<dl>
					<dt>账户中心</dt>
					<dd><a href="javacript:void(0);">我的账户</a></dd>
					<dd><a href="javacript:void(0);">地址管理</a></dd>
					<dd><a href="javacript:void(0);">我的邀请</a></dd>
				</dl>
				<dl>
					<dt>会员中心</dt>
					<dd><a href="javacript:void(0);">我的积分</a></dd>
					<dd><a href="javacript:void(0);">我的优惠券</a></dd>
				</dl>
			</div>
			<!--右侧显示-->
			<div class="fl order_center_content">
				<!--我的订单-->
				<div class="order_bill_wrap">
					<div class="clearfix order_bill_nav">
						<div class="fl info_tit">
							<ul class="clearfix">
								<li><a class="active" href="javacript:void(0);">全部订单(<em>5</em>)<span></span></a></li>
								<li><a href="javacript:void(0);">待付款(<em>1</em>)<span></span></a></li>
								<li><a href="javacript:void(0);">待收货(<em>1</em>)<span></span></a></li>
								<li><a href="javacript:void(0);">待安装(<em>1</em>)<span></span></a></li>
								<li><a href="javacript:void(0);">待评论(<em>1</em>)<span></span></a></li>
								<li><a class="disabled" href="javacript:void(0);">订单回收站(<em>0</em>)<span></span></a></li>
							</ul>
						</div>
						<div class="fr store_select">
							<select name="" title="日期">
								<option value="今天">今天</option>
								<option value="最近一周">最近一周</option>
								<option value="最近一月">最近一月</option>
								<option value="最近三月">最近三月</option>
								<option value="今年">今年</option>
								<option value="2018">2018</option>
							</select>
						</div>
					</div>
					<!--订单内容-->
					<div class="order_bill">
						<div class="order_bill_tit">
							<ul class="clearfix">
								<li class="order_bill_pro">商品</li>
								<li>单价</li>
								<li>数量</li>
								<li>实付款</li>
								<li>交易状态</li>
								<li>操作</li>
							</ul>
						</div>
						<!--全部订单-->
						<div class="order_bill_list" style="display: block;">
							<!--item01-->
							<div class="order_bill_item">
								<h3>
									<span>订单编号：8888888888888</span>
									<span>2018-02-06</span>
								</h3>
								<ul class="clearfix">
									<li class="order_bill_pro pro_item">
										<i class="pro_img"><img src="images/img/pro_img.png"/></i>
										<div class="pro_info">
											<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
											<div class="pro_index">
												<ul class="clearfix">
													<li>品牌：米其林</li>
													<li>速度级别：V</li>
													<li>毛重：9.8kg</li>
													<li>负荷指数：91</li>
													<li>类型：四季通用</li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<span class="order_bill_info">￥888</span>
									</li>
									<li>
										<span class="order_bill_info">1</span>
									</li>
									<li>
										<span class="order_bill_info fc_red">￥888</span>
									</li>
									<li>
										<span class="order_bill_info">交易成功</span>
									</li>
									<li class="order_bill_opera">
										<a class="fc_gray6" href="javascript:void(0);">立即评论</a>
										<a class="fc_blue" href="javascript:void(0);">订单详情</a>
									</li>
								</ul>
								<a class="order_delete" href="javascript:void(0);">删除</a>
							</div>
							<!--item02-->
							<div class="order_bill_item">
								<h3>
									<span>订单编号：8888888888888</span>
									<span>2018-02-06</span>
								</h3>
								<ul class="clearfix">
									<li class="order_bill_pro pro_item">
										<i class="pro_img"><img src="images/img/pro_img.png"/></i>
										<div class="pro_info">
											<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
											<div class="pro_index">
												<ul class="clearfix">
													<li>品牌：米其林</li>
													<li>速度级别：V</li>
													<li>毛重：9.8kg</li>
													<li>负荷指数：91</li>
													<li>类型：四季通用</li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<span class="order_bill_info">￥888</span>
									</li>
									<li>
										<span class="order_bill_info">1</span>
									</li>
									<li>
										<span class="order_bill_info fc_red">￥888</span>
									</li>
									<li>
										<span class="order_bill_info fc_red">待付款</span>
									</li>
									<li class="order_bill_opera">
										<a class="fc_red" href="javascript:void(0);">立即支付</a>
										<a class="fc_blue" href="javascript:void(0);">订单详情</a>
									</li>
								</ul>
								<a class="order_delete" href="javascript:void(0);">删除</a>
							</div>
							<!--item03-->
							<div class="order_bill_item">
								<h3>
									<span>订单编号：8888888888888</span>
									<span>2018-02-06</span>
								</h3>
								<ul class="clearfix">
									<li class="order_bill_pro pro_item">
										<i class="pro_img"><img src="images/img/pro_img.png"/></i>
										<div class="pro_info">
											<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
											<div class="pro_index">
												<ul class="clearfix">
													<li>品牌：米其林</li>
													<li>速度级别：V</li>
													<li>毛重：9.8kg</li>
													<li>负荷指数：91</li>
													<li>类型：四季通用</li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<span class="order_bill_info">￥888</span>
									</li>
									<li>
										<span class="order_bill_info">1</span>
									</li>
									<li>
										<span class="order_bill_info fc_red">￥888</span>
									</li>
									<li>
										<span class="order_bill_info">等待收货</span>
									</li>
									<li class="order_bill_opera">
										<a class="fc_gray6" href="javascript:void(0);">确定收货</a>
										<a class="fc_blue" href="javascript:void(0);">订单详情</a>
									</li>
								</ul>
								<a class="order_delete" href="javascript:void(0);">删除</a>
							</div>
							<!--item04-->
							<div class="order_bill_item">
								<h3>
									<span>订单编号：8888888888888</span>
									<span>2018-02-06</span>
								</h3>
								<ul class="clearfix">
									<li class="order_bill_pro pro_item">
										<i class="pro_img"><img src="images/img/pro_img.png"/></i>
										<div class="pro_info">
											<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
											<div class="pro_index">
												<ul class="clearfix">
													<li>品牌：米其林</li>
													<li>速度级别：V</li>
													<li>毛重：9.8kg</li>
													<li>负荷指数：91</li>
													<li>类型：四季通用</li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<span class="order_bill_info">￥888</span>
									</li>
									<li>
										<span class="order_bill_info">1</span>
									</li>
									<li>
										<span class="order_bill_info fc_red">￥888</span>
									</li>
									<li>
										<span class="order_bill_info">等待安装</span>
									</li>
									<li class="order_bill_opera">
										<a class="fc_gray6" href="javascript:void(0);">立即评论</a>
										<a class="fc_blue" href="javascript:void(0);">订单详情</a>
									</li>
								</ul>
								<a class="order_delete" href="javascript:void(0);">删除</a>
							</div>
							<!--item05-->
							<div class="order_bill_item">
								<h3>
									<span>订单编号：8888888888888</span>
									<span>2018-02-06</span>
								</h3>
								<ul class="clearfix">
									<li class="order_bill_pro pro_item">
										<i class="pro_img"><img src="images/img/pro_img.png"/></i>
										<div class="pro_info">
											<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
											<div class="pro_index">
												<ul class="clearfix">
													<li>品牌：米其林</li>
													<li>速度级别：V</li>
													<li>毛重：9.8kg</li>
													<li>负荷指数：91</li>
													<li>类型：四季通用</li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<span class="order_bill_info">￥888</span>
									</li>
									<li>
										<span class="order_bill_info">1</span>
									</li>
									<li>
										<span class="order_bill_info fc_red">￥888</span>
									</li>
									<li>
										<span class="order_bill_info">订单取消</span>
									</li>
									<li class="order_bill_opera">
										<a class="fc_gray6" href="javascript:void(0);">再次购买</a>
										<a class="fc_blue" href="javascript:void(0);">订单详情</a>
									</li>
								</ul>
								<a class="order_delete" href="javascript:void(0);">删除</a>
							</div>
						</div>
						<!--待付款-->
						<div class="order_bill_list" style="display: none;">
							<!--item01-->
							<div class="order_bill_item">
								<h3>
									<span>订单编号：8888888888888</span>
									<span>2018-02-06</span>
								</h3>
								<ul class="clearfix">
									<li class="order_bill_pro pro_item">
										<i class="pro_img"><img src="images/img/pro_img.png"/></i>
										<div class="pro_info">
											<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
											<div class="pro_index">
												<ul class="clearfix">
													<li>品牌：米其林</li>
													<li>速度级别：V</li>
													<li>毛重：9.8kg</li>
													<li>负荷指数：91</li>
													<li>类型：四季通用</li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<span class="order_bill_info">￥888</span>
									</li>
									<li>
										<span class="order_bill_info">1</span>
									</li>
									<li>
										<span class="order_bill_info fc_red">￥888</span>
									</li>
									<li>
										<span class="order_bill_info fc_red">待付款</span>
									</li>
									<li class="order_bill_opera">
										<a class="fc_red" href="javascript:void(0);">立即支付</a>
										<a class="fc_blue" href="javascript:void(0);">订单详情</a>
									</li>
								</ul>
								<a class="order_delete" href="javascript:void(0);">删除</a>
							</div>
						</div>
						<!--待收货-->
						<div class="order_bill_list" style="display: none;">
							<!--item01-->
							<div class="order_bill_item">
								<h3>
									<span>订单编号：8888888888888</span>
									<span>2018-02-06</span>
								</h3>
								<ul class="clearfix">
									<li class="order_bill_pro pro_item">
										<i class="pro_img"><img src="images/img/pro_img.png"/></i>
										<div class="pro_info">
											<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
											<div class="pro_index">
												<ul class="clearfix">
													<li>品牌：米其林</li>
													<li>速度级别：V</li>
													<li>毛重：9.8kg</li>
													<li>负荷指数：91</li>
													<li>类型：四季通用</li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<span class="order_bill_info">￥888</span>
									</li>
									<li>
										<span class="order_bill_info">1</span>
									</li>
									<li>
										<span class="order_bill_info fc_red">￥888</span>
									</li>
									<li>
										<span class="order_bill_info">等待收货</span>
									</li>
									<li class="order_bill_opera">
										<a class="fc_gray6" href="javascript:void(0);">确定收货</a>
										<a class="fc_blue" href="javascript:void(0);">订单详情</a>
									</li>
								</ul>
								<a class="order_delete" href="javascript:void(0);">删除</a>
							</div>
						</div>
						<!--待安装-->
						<div class="order_bill_list" style="display: none;">
							<!--item01-->
							<div class="order_bill_item">
								<h3>
									<span>订单编号：8888888888888</span>
									<span>2018-02-06</span>
								</h3>
								<ul class="clearfix">
									<li class="order_bill_pro pro_item">
										<i class="pro_img"><img src="images/img/pro_img.png"/></i>
										<div class="pro_info">
											<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
											<div class="pro_index">
												<ul class="clearfix">
													<li>品牌：米其林</li>
													<li>速度级别：V</li>
													<li>毛重：9.8kg</li>
													<li>负荷指数：91</li>
													<li>类型：四季通用</li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<span class="order_bill_info">￥888</span>
									</li>
									<li>
										<span class="order_bill_info">1</span>
									</li>
									<li>
										<span class="order_bill_info fc_red">￥888</span>
									</li>
									<li>
										<span class="order_bill_info">等待安装</span>
									</li>
									<li class="order_bill_opera">
										<a class="fc_gray6" href="javascript:void(0);">立即评论</a>
										<a class="fc_blue" href="javascript:void(0);">订单详情</a>
									</li>
								</ul>
								<a class="order_delete" href="javascript:void(0);">删除</a>
							</div>
						</div>
						<!--待评论-->
						<div class="order_bill_list" style="display: none;">
							<!--item01-->
							<div class="order_bill_item">
								<h3>
									<span>订单编号：8888888888888</span>
									<span>2018-02-06</span>
								</h3>
								<ul class="clearfix">
									<li class="order_bill_pro pro_item">
										<i class="pro_img"><img src="images/img/pro_img.png"/></i>
										<div class="pro_info">
											<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
											<div class="pro_index">
												<ul class="clearfix">
													<li>品牌：米其林</li>
													<li>速度级别：V</li>
													<li>毛重：9.8kg</li>
													<li>负荷指数：91</li>
													<li>类型：四季通用</li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<span class="order_bill_info">￥888</span>
									</li>
									<li>
										<span class="order_bill_info">1</span>
									</li>
									<li>
										<span class="order_bill_info fc_red">￥888</span>
									</li>
									<li>
										<span class="order_bill_info">交易成功</span>
									</li>
									<li class="order_bill_opera">
										<a class="fc_gray6" href="javascript:void(0);">立即评论</a>
										<a class="fc_blue" href="javascript:void(0);">订单详情</a>
									</li>
								</ul>
								<a class="order_delete" href="javascript:void(0);">删除</a>
							</div>
						</div>
					</div>
				</div>
				<!--我的账户-->
			</div>
		</div>
	</div>
	<!--footer-->
	<div class="wrap footer">
		<div class="footer_link">
			<ul class="clearfix">
				<li>
					<dl>
						<dt><strong>关于我们</strong></dt>
						<dd><a href="javacript:void(0);">公司介绍</a></dd>
						<dd><a href="javacript:void(0);">诚聘英才</a></dd>
						<dd><a href="javacript:void(0);">联系我们</a></dd>
						<dd><a href="javacript:void(0);">投诉建议</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>售后服务</strong></dt>
						<dd><a href="javacript:void(0);">质量问题</a></dd>
						<dd><a href="javacript:void(0);">退货政策</a></dd>
						<dd><a href="javacript:void(0);">退货流程</a></dd>
						<dd><a href="javacript:void(0);">在线客服</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>支付方式</strong></dt>
						<dd><a href="javacript:void(0);">在线支付</a></dd>
						<dd><a href="javacript:void(0);">支付问题</a></dd>
						<dd><a href="javacript:void(0);">换购说明</a></dd>
						<dd><a href="javacript:void(0);">发票说明</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>平台信息</strong></dt>
						<dd><a href="javacript:void(0);">网站公告</a></dd>
						<dd><a href="javacript:void(0);">媒体报道</a></dd>
						<dd><a href="javacript:void(0);">网贷平台</a></dd>
						<dd><a href="javacript:void(0);">站长统计</a></dd>
					</dl>
				</li>
				<li class="w24">
					<dl>
						<dt class="fw_400">企业QQ  88888888</dt>
						<dd></dd>
						<dd>企业客服    400-XXX-XXXX</dd>
						<dd></dd>
						<dd>(工作时间：9:30-18:30)</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt></dt>
						<dd></dd>
						<dd></dd>
						<dd></dd>
						<dd><a href="javacript:void(0);">在线咨询</a></dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="footer_blogroll">
			<dl class="clearfix">
				<dt><strong>友情链接：</strong></dt>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
			</dl>
		</div>
		<p class="footer_copyright">选鼎电商有限公司&#160;&#160;Copyright@2017&#160;www.xuandingds.com&#160;All&#160;Rights.版权所有：选鼎电商（XXXXXXXX）</p>
		<div class="footer_auth">
			<ul class="clearfix">
				<li>
					<a href="javacript:void(0);">
						<i class="icon01"></i>
						<span>经营性网站<br/>备案信息</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon02"></i>
						<span>可信网站<br/>信用评价</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon03"></i>
						<span>网络警察<br/>提醒您</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);" style="line-height: 28px;">
						<i class="icon04"></i>
						<span>诚信网站</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon05"></i>
						<span>中国互联网<br/>举报中心</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon06"></i>
						<span>网络举报<br/>APP下载</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
//展示切换效果
$(function(){
	var preIndexN , indexN;
	for (var i=0; i<$(".info_tit a").length;i++) {
		if ($(".info_tit a").eq(i).hasClass("active")) {
			indexN = i;
		}
	}
	$(".info_tit a").click(function(){
		if($(this).hasClass("disabled")){
			return false;
		}
		preIndexN = indexN;
		indexN = $(".info_tit a").index(this);
		$(".info_tit a").removeClass("active in reverse");
		$(this).addClass("active");
		if(preIndexN < indexN){
			$(this).addClass("reverse");
		}else{
			$(this).addClass("in");
		}
	});
});
</script>
</body>
</html>
