<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div class="shopping_cart_box">
	<!--header-->
	<div class="header_wrap">
		<div class="wrap clearfix">
			<div class="header_locate">
				<a href="javacript:void(0);"><i></i>朝阳区</a>
				<span>免费安轮胎质量有保障</span>
			</div>
			<div class="header_state">
				<ul class="clearfix">
					<li><a href="javacript:void(0);">登录</a><em>|</em></li>
					<li><a href="javacript:void(0);">注册</a><em>|</em></li>
					<li><a href="javacript:void(0);">购物车 (<span>0</span>)</a><em>|</em></li>
					<li><a href="javacript:void(0);">个人中心</a><em>|</em></li>
					<li><a href="javacript:void(0);">联系我们</a><em>|</em></li>
					<li><a href="javacript:void(0);">APP下载</a></li>
				</ul>
			</div>
		</div>
		<div class="header">
			<div class="wrap clearfix">
				<h1 class="fl logo">
					<a href="javacript:void(0);">logo</a>
				</h1>
				<div class="header_opera">
					<div class="header_label">
						<ul class="clearfix">
							<li>正品轮胎</li>
							<li>售后保险</li>
							<li>免费安装</li>
							<li>价格公道</li>
							<li>就近分配</li>
						</ul>
					</div>
					<div class="header_search">
						<input type="text" placeholder="请输入商品" />
						<a href="javacript:void(0);"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="header_menu_wrap">
			<div class="wrap clearfix">
				<div class="header_menu">
					<ul class="clearfix">
						<li><a href="javacript:void(0);">首页</a></li>
						<li><a class="active" href="javacript:void(0);">轮胎</a></li>
						<li><a href="javacript:void(0);">汽车配件</a></li>
						<li><a href="javacript:void(0);">积分换购</a></li>
					</ul>
				</div>
				<div class="header_tel">
					<span><i></i>010-8888888</span>
				</div>
			</div>
		</div>
	</div>
		
	<!--container-->
	<div class="wrap">
		<!--购物成功-->
		<div class="shopping_success">
			<ul>
				<li>
					<div class="clearfix shopping_success_item">
						<div class="fl pro_item">
							<i class="pro_img"><img src="images/img/pro_img.png"/></i>
							<div class="pro_info">
								<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
								<div class="pro_index">
									<ul class="clearfix">
										<li>品牌：米其林</li>
										<li>速度级别：V</li>
										<li>毛重：9.8kg</li>
										<li>负荷指数：91</li>
									</ul>
								</div>
								<div class="shopping_success_price">
									<strong class="fc_red">￥888.00</strong>
								</div>
							</div>
						</div>	
						<div class="fr shopping_success_opera">
							<p><strong>成功加入购物车</strong></p>
							<div class="clearfix">
								<a href="javacript:void(0);">继续购物</a>
								<a class="active" href="javacript:void(0);">去购物车结算</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!--猜你喜欢/最近浏览-->
		<div class="shopping_like">
			<!--tit-->
			<div class="shopping_col">
				<ul class="clearfix">
					<li><a class="active" href="javacript:void(0);">猜你喜欢</a></li>
					<li><a href="javacript:void(0);">最近浏览</a></li>
				</ul>
			</div>
			<!--猜你喜欢-->
			<div class="browse_list shopping_like_list">
				<ul class="clearfix">
					<li>
						<div class="browse_item">
							<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
							<i><img src="images/img/tyre.jpg"/></i>
							<span>￥668.00</span>
							<a class="tyre_buy" href="javacript:void(0);">购买</a>
						</div>
					</li>
					<li>
						<div class="browse_item">
							<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
							<i><img src="images/img/tyre.jpg"/></i>
							<span>￥668.00</span>
							<a class="tyre_buy" href="javacript:void(0);">购买</a>
						</div>
					</li>
					<li>
						<div class="browse_item">
							<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
							<i><img src="images/img/tyre.jpg"/></i>
							<span>￥668.00</span>
							<a class="tyre_buy" href="javacript:void(0);">购买</a>
						</div>
					</li>
					<li>
						<div class="browse_item">
							<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
							<i><img src="images/img/tyre.jpg"/></i>
							<span>￥668.00</span>
							<a class="tyre_buy" href="javacript:void(0);">购买</a>
						</div>
					</li>
					<li>
						<div class="browse_item">
							<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
							<i><img src="images/img/tyre.jpg"/></i>
							<span>￥668.00</span>
							<a class="tyre_buy" href="javacript:void(0);">购买</a>
						</div>
					</li>
				</ul>
			</div>
			<!--最近浏览-->
			<div class="browse_list shopping_like_list" style="display:none">
				<ul class="clearfix">
					<li>
						<div class="browse_item">
							<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
							<i><img src="images/img/tyre.jpg"/></i>
							<span>￥668.00</span>
							<a class="tyre_buy" href="javacript:void(0);">购买</a>
						</div>
					</li>
					<li>
						<div class="browse_item">
							<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
							<i><img src="images/img/tyre.jpg"/></i>
							<span>￥668.00</span>
							<a class="tyre_buy" href="javacript:void(0);">购买</a>
						</div>
					</li>
					<li>
						<div class="browse_item">
							<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
							<i><img src="images/img/tyre.jpg"/></i>
							<span>￥668.00</span>
							<a class="tyre_buy" href="javacript:void(0);">购买</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<!--footer-->
	<div class="wrap footer">
		<div class="footer_link">
			<ul class="clearfix">
				<li>
					<dl>
						<dt><strong>关于我们</strong></dt>
						<dd><a href="javacript:void(0);">公司介绍</a></dd>
						<dd><a href="javacript:void(0);">诚聘英才</a></dd>
						<dd><a href="javacript:void(0);">联系我们</a></dd>
						<dd><a href="javacript:void(0);">投诉建议</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>售后服务</strong></dt>
						<dd><a href="javacript:void(0);">质量问题</a></dd>
						<dd><a href="javacript:void(0);">退货政策</a></dd>
						<dd><a href="javacript:void(0);">退货流程</a></dd>
						<dd><a href="javacript:void(0);">在线客服</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>支付方式</strong></dt>
						<dd><a href="javacript:void(0);">在线支付</a></dd>
						<dd><a href="javacript:void(0);">支付问题</a></dd>
						<dd><a href="javacript:void(0);">换购说明</a></dd>
						<dd><a href="javacript:void(0);">发票说明</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>平台信息</strong></dt>
						<dd><a href="javacript:void(0);">网站公告</a></dd>
						<dd><a href="javacript:void(0);">媒体报道</a></dd>
						<dd><a href="javacript:void(0);">网贷平台</a></dd>
						<dd><a href="javacript:void(0);">站长统计</a></dd>
					</dl>
				</li>
				<li class="w24">
					<dl>
						<dt class="fw_400">企业QQ  88888888</dt>
						<dd></dd>
						<dd>企业客服    400-XXX-XXXX</dd>
						<dd></dd>
						<dd>(工作时间：9:30-18:30)</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt></dt>
						<dd></dd>
						<dd></dd>
						<dd></dd>
						<dd><a href="javacript:void(0);">在线咨询</a></dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="footer_blogroll">
			<dl class="clearfix">
				<dt><strong>友情链接：</strong></dt>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
			</dl>
		</div>
		<p class="footer_copyright">选鼎电商有限公司&#160;&#160;Copyright@2017&#160;www.xuandingds.com&#160;All&#160;Rights.版权所有：选鼎电商（XXXXXXXX）</p>
		<div class="footer_auth">
			<ul class="clearfix">
				<li>
					<a href="javacript:void(0);">
						<i class="icon01"></i>
						<span>经营性网站<br/>备案信息</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon02"></i>
						<span>可信网站<br/>信用评价</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon03"></i>
						<span>网络警察<br/>提醒您</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);" style="line-height: 28px;">
						<i class="icon04"></i>
						<span>诚信网站</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon05"></i>
						<span>中国互联网<br/>举报中心</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon06"></i>
						<span>网络举报<br/>APP下载</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>
