<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div class="goods_detail_box">
	<!--header-->
	<div class="header_wrap">
		<div class="wrap clearfix">
			<div class="header_locate">
				<a href="javacript:void(0);"><i></i>朝阳区</a>
				<span>免费安轮胎质量有保障</span>
			</div>
			<div class="header_state">
				<ul class="clearfix">
					<li><a href="javacript:void(0);">登录</a><em>|</em></li>
					<li><a href="javacript:void(0);">注册</a><em>|</em></li>
					<li><a href="javacript:void(0);">购物车 (<span>0</span>)</a><em>|</em></li>
					<li><a href="javacript:void(0);">个人中心</a><em>|</em></li>
					<li><a href="javacript:void(0);">联系我们</a><em>|</em></li>
					<li><a href="javacript:void(0);">APP下载</a></li>
				</ul>
			</div>
		</div>
		<div class="header">
			<div class="wrap clearfix">
				<h1 class="fl logo">
					<a href="javacript:void(0);">logo</a>
				</h1>
				<div class="header_opera">
					<div class="header_label">
						<ul class="clearfix">
							<li>正品轮胎</li>
							<li>售后保险</li>
							<li>免费安装</li>
							<li>价格公道</li>
							<li>就近分配</li>
						</ul>
					</div>
					<div class="header_search">
						<input type="text" placeholder="请输入商品" />
						<a href="javacript:void(0);"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="header_menu_wrap">
			<div class="wrap clearfix">
				<div class="header_menu">
					<ul class="clearfix">
						<li><a href="javacript:void(0);">首页</a></li>
						<li><a class="active" href="javacript:void(0);">轮胎</a></li>
						<li><a href="javacript:void(0);">汽车配件</a></li>
						<li><a href="javacript:void(0);">积分换购</a></li>
					</ul>
				</div>
				<div class="header_tel">
					<span><i></i>010-8888888</span>
				</div>
			</div>
		</div>
	</div>
		
	<!--container-->
	<div class="wrap">
		<p class="page_nav">
			<a href="javacript:void(0);">首页</a><span>></span>
			<a href="javacript:void(0);">轮胎</a><span>></span>
			<em>米其林 MICHELIN ENERGY XM2</em>
		</p>
		<!--商品参数-->
		<div class="clearfix goods_top">
			<!--商品图片-->
			<div class="fl goods_top_img">
				<div class="e_zoom">
					<img src="images/img/goods_pic06.jpg" data-img-big="images/img/goods_pic06_big.jpg"/>
					<span></span>
					<div><img src=""/></div>
				</div>
				<div class="goods_top_img_list">
					<ul class="clearfix">
						<li><i><img src="images/img/goods_pic01.jpg"/></i></li>
						<li><i><img src="images/img/goods_pic02.jpg"/></i></li>
						<li><i><img src="images/img/goods_pic03.jpg"/></i></li>
						<li><i><img src="images/img/goods_pic04.jpg"/></i></li>
						<li><i><img src="images/img/goods_pic05.jpg"/></i></li>
						<li><i class="active"><img src="images/img/goods_pic06.jpg"/></i></li>
					</ul>
				</div>
			</div>
			<!--商品参数-->
			<div class="fl goods_top_param">
				<h3>米其林 MICHELIN XM2 韧悦205/55R16 91V</h3>
				<div class="goods_top_param_info">
					<ul class="clearfix">
						<li><span>轮胎品牌：</span>米其林 MICHELIN</li>
						<li><span>轮胎类型：</span>四季通用</li>
						<li><span>速度级别：</span>V（最高240公里/小时）</li>
						<li><span>产品规格：</span>205/55R16</li>
						<li><span>载重指数：</span>91（最高载重615千克）</li>
						<li><span>花纹类型：</span>XM2</li>
					</ul>
				</div>
				<div class="goods_top_param_service">
					<dl class="clearfix">
						<dt>配送至：</dt>
						<dd>
							<div class="goods_service_area">
								<a class="goods_area_btn" href="javascript:void(0);">请选择地址<i></i></a>
								<!--未选择状态-->
								<div class="goods_area">
									<div class="goods_area_select">
										<ul class="clearfix">
											<li><em class="active">请选择</em></li>
										</ul>
									</div>
									<div class="goods_area_options">
										<ul class="clearfix">
											<li><a href="javascript:void(0);">北京市</a></li>
										</ul>
									</div>
								</div>
								<!--选择市状态-->
								<!--<div class="goods_area">
									<div class="goods_area_select">
										<ul class="clearfix">
											<li><em>北京市</em></li>
											<li><em class="active">请选择</em></li>
										</ul>
									</div>
									<div class="goods_area_options">
										<ul class="clearfix">
											<li><a href="javascript:void(0);">北京市</a></li>
										</ul>
									</div>
								</div>-->
								<!--选择区状态-->
								<!--<div class="goods_area">
									<div class="goods_area_select">
										<ul class="clearfix">
											<li><em>北京市</em></li>
											<li><em>北京市</em></li>
											<li><em class="active">请选择</em></li>
										</ul>
									</div>
									<div class="goods_area_options">
										<ul class="clearfix">
											<li><a href="javascript:void(0);">东城区</a></li>
											<li><a href="javascript:void(0);">西城区</a></li>
											<li><a href="javascript:void(0);">崇文区</a></li>
											<li><a href="javascript:void(0);">宣武区</a></li>
											<li><a href="javascript:void(0);">朝阳区</a></li>
											<li><a href="javascript:void(0);">丰台区</a></li>
											<li><a href="javascript:void(0);">石景山区</a></li>
											<li><a href="javascript:void(0);">海淀区</a></li>
											<li><a href="javascript:void(0);">门头沟区</a></li>
											<li><a href="javascript:void(0);">房山区</a></li>
											<li><a href="javascript:void(0);">通州区</a></li>
											<li><a href="javascript:void(0);">顺义区</a></li>
											<li><a href="javascript:void(0);">昌平区</a></li>
											<li><a href="javascript:void(0);">大兴区</a></li>
											<li><a href="javascript:void(0);">怀柔区</a></li>
											<li><a href="javascript:void(0);">平谷区</a></li>
											<li><a href="javascript:void(0);">密云区</a></li>
											<li><a href="javascript:void(0);">延庆区</a></li>
										</ul>
									</div>
								</div>
							</div>-->
						</dd>
						<dd>累计销量：<em class="fc_red">8888</em>条</dd>
						<dd>累计评价：<em class="fc_red">8888+</em></dd>
						<dd>好评率：<em class="fc_red">99%</em></dd>
					</dl>
					<dl class="clearfix">
						<dt>提供服务：</dt>
						<dd><span>免费配送</span></dd>
						<dd><span>免费安装</span></dd>
						<dd><span>免费轮胎险</span></dd>
						<dd><span>免费气门嘴</span></dd>
					</dl>
					<dl class="clearfix">
						<dt>价格：</dt>
						<dd><strong class="fc_red">￥688</strong></dd>
					</dl>
					<dl class ="clearfix">
						<dt>促销活动：</dt>
						<dd>
							<p><i>活动1</i>新用户可用红包抵扣10元现金</p>
							<p><i>活动1</i>新用户可用红包抵扣10元现金</p>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt>购买数量：</dt>
						<dd>
							<div class="shopping_num">
								<input type="text" value="1" />
								<i class="icon_minus">-</i>
								<i class="icon_plus">+</i>
							</div>
						</dd>
					</dl>
				</div>
<!-- 				<div class="goods_install_wrap">
					<ul class="clearfix">
						<li><a href="javascript:void(0);">无需安装</a></li>
						<li><a class="active" href="javascript:void(0);">到店安装</a></li>
						<li><a class="goods_install_area" href="javascript:void(0);">选择安装门店</a></li>
					</ul>
				</div> -->
				<div class="clearfix goods_top_opera">
					<a class="btn_sales" href="javascript:void(0);"><i></i><span>售前咨询</span></a>
					<a class="btn_collection" href="javascript:void(0);">加入收藏</a>
					<a class="btn_buy" href="javascript:void(0);">立即购买</a>
					<a class="btn_buy active" href="javascript:void(0);">加入购物车</a>
				</div>
			</div>
			<!--同型号推荐-->
			<div class="fl goods_top_recommand">
				<h3 class="goods_small_tit">同型号推荐</h3>
				<div class="xsqg_inner">
					<ul>
						<li>
							<a class="list_pro xsqg_pro">
								<h6>马牌轮胎</h6>
								<span><img src="images/img/tyre.jpg"/></span>
								<p>
									<em>抢购价￥220</em>
									<del>原价￥260</del>
								</p>
								<i></i>
							</a>
						</li>
						<li>
							<a class="list_pro xsqg_pro">
								<h6>马牌轮胎</h6>
								<span><img src="images/img/tyre.jpg"/></span>
								<p>
									<em>抢购价￥220</em>
									<del>原价￥260</del>
								</p>
								<i></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<!--分类介绍-->
		<div class="clearfix goods_middle">
			<div class="fl goods_middle_left">
				<!--浏览过-->
				<div class="goods_top_recommand">
					<h3 class="goods_small_tit">我浏览过</h3>
					<div class="xsqg_inner">
						<ul>
							<li>
								<a class="list_pro xsqg_pro">
									<h6>马牌轮胎</h6>
									<span><img src="images/img/tyre.jpg"/></span>
									<p>
										<em>抢购价￥220</em>
										<del>原价￥260</del>
									</p>
									<i></i>
								</a>
							</li>
							<li>
								<a class="list_pro xsqg_pro">
									<h6>马牌轮胎</h6>
									<span><img src="images/img/tyre.jpg"/></span>
									<p>
										<em>抢购价￥220</em>
										<del>原价￥260</del>
									</p>
									<i></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="goods_hot_wrap">
					<h3 class="goods_small_tit">热门活动</h3>
					<div class="goods_hot">
						<ul>
							<li><a href="javascript:void(0);"><img src="images/img/goods_hot.png"/></a></li>
							<li><a href="javascript:void(0);"><img src="images/img/goods_hot.png"/></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="fl goods_classified">
				<div class="info_tit">
					<ul class="clearfix">
						<li><a class="active" href="javascript:void(0);">商品详情<span></span></a></li>
						<li><a href="javascript:void(0);">商品规格<span></span></a></li>
						<li><a href="javascript:void(0);">商品评价<span></span></a></li>
					</ul>
				</div>
				<!--商品详情-->
				<div class="goods_detail">
					<img src="images/img/goods_details_img.png"/>
				</div>
				<!--商品规格-->
				<!--<div class="goods_size">
					
				</div>-->
				<!--商品评价-->
				<!--<div class="goods_comment">
					
				</div>-->
			</div>
		</div>
	</div>
	
	<!--footer-->
	<div class="wrap footer">
		<div class="footer_link">
			<ul class="clearfix">
				<li>
					<dl>
						<dt><strong>关于我们</strong></dt>
						<dd><a href="javacript:void(0);">公司介绍</a></dd>
						<dd><a href="javacript:void(0);">诚聘英才</a></dd>
						<dd><a href="javacript:void(0);">联系我们</a></dd>
						<dd><a href="javacript:void(0);">投诉建议</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>售后服务</strong></dt>
						<dd><a href="javacript:void(0);">质量问题</a></dd>
						<dd><a href="javacript:void(0);">退货政策</a></dd>
						<dd><a href="javacript:void(0);">退货流程</a></dd>
						<dd><a href="javacript:void(0);">在线客服</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>支付方式</strong></dt>
						<dd><a href="javacript:void(0);">在线支付</a></dd>
						<dd><a href="javacript:void(0);">支付问题</a></dd>
						<dd><a href="javacript:void(0);">换购说明</a></dd>
						<dd><a href="javacript:void(0);">发票说明</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>平台信息</strong></dt>
						<dd><a href="javacript:void(0);">网站公告</a></dd>
						<dd><a href="javacript:void(0);">媒体报道</a></dd>
						<dd><a href="javacript:void(0);">网贷平台</a></dd>
						<dd><a href="javacript:void(0);">站长统计</a></dd>
					</dl>
				</li>
				<li class="w24">
					<dl>
						<dt class="fw_400">企业QQ  88888888</dt>
						<dd></dd>
						<dd>企业客服    400-XXX-XXXX</dd>
						<dd></dd>
						<dd>(工作时间：9:30-18:30)</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt></dt>
						<dd></dd>
						<dd></dd>
						<dd></dd>
						<dd><a href="javacript:void(0);">在线咨询</a></dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="footer_blogroll">
			<dl class="clearfix">
				<dt><strong>友情链接：</strong></dt>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
			</dl>
		</div>
		<p class="footer_copyright">选鼎电商有限公司&#160;&#160;Copyright@2017&#160;www.xuandingds.com&#160;All&#160;Rights.版权所有：选鼎电商（XXXXXXXX）</p>
		<div class="footer_auth">
			<ul class="clearfix">
				<li>
					<a href="javacript:void(0);">
						<i class="icon01"></i>
						<span>经营性网站<br/>备案信息</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon02"></i>
						<span>可信网站<br/>信用评价</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon03"></i>
						<span>网络警察<br/>提醒您</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);" style="line-height: 28px;">
						<i class="icon04"></i>
						<span>诚信网站</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon05"></i>
						<span>中国互联网<br/>举报中心</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon06"></i>
						<span>网络举报<br/>APP下载</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
//展示切换效果
$(function(){
	var preIndexN , indexN;
	for (var i=0; i<$(".info_tit a").length;i++) {
		if ($(".info_tit a").eq(i).hasClass("active")) {
			indexN = i;
		}
	}
	$(".info_tit a").click(function(){
		if($(this).hasClass("disabled")){
			return false;
		}
		preIndexN = indexN;
		indexN = $(".info_tit a").index(this);
		$(".info_tit a").removeClass("active in reverse");
		$(this).addClass("active");
		if(preIndexN < indexN){
			$(this).addClass("reverse");
		}else{
			$(this).addClass("in");
		}
	});
	$(".goods_top_img_list i").click(function(){
		$(".goods_top_img_list i").removeClass("active");
		$(this).addClass("active");
		var imgSrc = $(this).children("img").attr("src");
		$(".e_zoom").children("img").attr({"src":imgSrc,"data-img-big":imgSrc.split(".")[0]+"_big.jpg"});
	});
	imgEZoom();
});

/*
 * 图片局部放大效果
 * 按照6倍比例放大
 * */
function imgEZoom(){
	var e=arguments.callee.caller.arguments[0]||window.event;//消除浏览器差异
	var obj = $(".e_zoom");
	var imgZoom = obj.children("div"); //图片放大后放置容器
	var imgLump = obj.children("span"); //图片移动时浮动小方块
	var imgBig = imgZoom.children("img"); //放大之后的图片
	var imgLumpW = 140; //小方块的宽度
	var multi = 3; //放大倍数
	
	obj.mousemove(function(e){
		var thisImg = $(this).children("img"); //当前显示的图片
		var imgW = thisImg.width();
		var imgH = thisImg.height();
		
		// 设置放大图片的默认属性
		imgBig.css({"position":"absolute","width":imgW*3+"px","height":imgH*3+"px"});
		
		//鼠标位于当前图片中的坐标位置
		var x = e.clientX - thisImg.offset().left;
		var y = e.clientY - thisImg.offset().top;
		
		//计算放大区域（尺寸60*60）相对于父元素的偏移
		var lumpLeft = 0;
		var lumpTop = 0;
		if(x<=imgLumpW){//小于方块本身时
			lumpLeft = 0;
		}else if(x > (imgW-imgLumpW)){
			lumpLeft = imgW - imgLumpW;
		}else{
			lumpLeft = x - imgLumpW/2;
		}
		if(y<=imgLumpW){
			lumpTop = 0;
		}else if(y > (imgH-imgLumpW)){
			lumpTop = imgH - imgLumpW;
		}else{
			lumpTop = y - imgLumpW/2;
		}

		imgLump.show();//小方块显示
		imgLump.css({"width":imgLumpW+"px","height":imgLumpW+"px","left":lumpLeft+"px","top":lumpTop+"px"});
		
		var _src = thisImg.attr("data-img-big");//在原图中保存的大图的位置
		imgZoom.show(); //放大图片容器显示
		
		//根据鼠标相对于原图的偏移，计算放大图的偏移
        var imgLeft = -1 * lumpLeft * multi;
        var imgTop = -1 * lumpTop * multi;
        imgBig.attr("src",_src); //放大图片添加位置
        imgBig.css({"left":imgLeft+"px","top":imgTop+"px"});//设置图片位置
	});
	//鼠标移除之后
	obj.mouseleave(function(event){
		imgLump.hide(); //小方块隐藏
        imgZoom.hide(); //放大图片容器隐藏
    });
}
</script>
</body>
</html>
