<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div class="payment_box">
	<!--header-->
	<div class="header_wrap">
		<div class="wrap clearfix">
			<div class="header_locate">
				<a href="javacript:void(0);"><i></i>朝阳区</a>
				<span>免费安轮胎质量有保障</span>
			</div>
			<div class="header_state">
				<ul class="clearfix">
					<li><a href="javacript:void(0);">登录</a><em>|</em></li>
					<li><a href="javacript:void(0);">注册</a><em>|</em></li>
					<li><a href="javacript:void(0);">购物车 (<span>0</span>)</a><em>|</em></li>
					<li><a href="javacript:void(0);">个人中心</a><em>|</em></li>
					<li><a href="javacript:void(0);">联系我们</a><em>|</em></li>
					<li><a href="javacript:void(0);">APP下载</a></li>
				</ul>
			</div>
		</div>
		<div class="header">
			<div class="wrap clearfix">
				<h1 class="fl logo">
					<a href="javacript:void(0);">logo</a>
				</h1>
				<div class="header_opera">
					<div class="header_label">
						<ul class="clearfix">
							<li>正品轮胎</li>
							<li>售后保险</li>
							<li>免费安装</li>
							<li>价格公道</li>
							<li>就近分配</li>
						</ul>
					</div>
					<div class="header_search">
						<input type="text" placeholder="请输入商品" />
						<a href="javacript:void(0);"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="header_menu_wrap">
			<div class="wrap clearfix">
				<div class="header_menu">
					<ul class="clearfix">
						<li><a href="javacript:void(0);">首页</a></li>
						<li><a class="active" href="javacript:void(0);">轮胎</a></li>
						<li><a href="javacript:void(0);">汽车配件</a></li>
						<li><a href="javacript:void(0);">积分换购</a></li>
					</ul>
				</div>
				<div class="header_tel">
					<span><i></i>010-8888888</span>
				</div>
			</div>
		</div>
	</div>
		
	<!--container-->
	<div class="wrap">
		<div class="payment_info_wrap">
			<div class="payment_info_state">
				<h6>订单提交成功，请尽快支付</h6>
				<p>请您在提交订单后<span>1</span>小时内完成支付，否则订单会自动取消。</p>
				<a href="javascript:void(0);">订单详情<i></i></a>
			</div>
			<div class="payment_info" style="display: none;">
				<p>收货人：<span>小鸡炖蘑菇</span></p>
				<p>收货地址：<span>北京市朝阳区北苑路17号北苑汽配商城</span></p>
				<p>商品名称：<span>米其林 MICHELIN ENERGY XM2 韧悦205/55R16 91V</span><em>X2</em></p>
			</div>
		</div>
		<div class="payment_content_wrap">
			<div class="clearfix">
				<div class="fl payment_ewm">
					<h6><i></i></h6>
					<p>距离二维码过期还剩<em class="fc_red">40</em>秒，过期后请刷新页面重新获取二维码。</p>
					<!--二维码过期状态-->
					<p class="fc_red" style="display: none;">二维码已过期，刷新页面重新获取二维码。<a href="javascript:void(0);">刷新</a></p>
					<span><img src="images/img/payment_ewm.jpg"/></span>
				</div>
				<div class="fr payment_explain">
					<p>
						<span>订单编号：<em>888888888888</em></span>
						<span>应付金额：<em class="fc_red">1666元</em></span>
					</p>
					<i></i>
				</div>
			</div>
			<div class="payment_way">
				<dl class="clearfix">
					<dt>其他支付方式</dt>
					<dd class="border_none"><a class="icon01" href="javascript:void(0);"></a></dd>
					<dd><a class="icon02" href="javascript:void(0);"></a></dd>
				</dl>
			</div>
		</div>
	</div>
	
	<!--footer-->
	<div class="wrap footer">
		<div class="footer_link">
			<ul class="clearfix">
				<li>
					<dl>
						<dt><strong>关于我们</strong></dt>
						<dd><a href="javacript:void(0);">公司介绍</a></dd>
						<dd><a href="javacript:void(0);">诚聘英才</a></dd>
						<dd><a href="javacript:void(0);">联系我们</a></dd>
						<dd><a href="javacript:void(0);">投诉建议</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>售后服务</strong></dt>
						<dd><a href="javacript:void(0);">质量问题</a></dd>
						<dd><a href="javacript:void(0);">退货政策</a></dd>
						<dd><a href="javacript:void(0);">退货流程</a></dd>
						<dd><a href="javacript:void(0);">在线客服</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>支付方式</strong></dt>
						<dd><a href="javacript:void(0);">在线支付</a></dd>
						<dd><a href="javacript:void(0);">支付问题</a></dd>
						<dd><a href="javacript:void(0);">换购说明</a></dd>
						<dd><a href="javacript:void(0);">发票说明</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>平台信息</strong></dt>
						<dd><a href="javacript:void(0);">网站公告</a></dd>
						<dd><a href="javacript:void(0);">媒体报道</a></dd>
						<dd><a href="javacript:void(0);">网贷平台</a></dd>
						<dd><a href="javacript:void(0);">站长统计</a></dd>
					</dl>
				</li>
				<li class="w24">
					<dl>
						<dt class="fw_400">企业QQ  88888888</dt>
						<dd></dd>
						<dd>企业客服    400-XXX-XXXX</dd>
						<dd></dd>
						<dd>(工作时间：9:30-18:30)</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt></dt>
						<dd></dd>
						<dd></dd>
						<dd></dd>
						<dd><a href="javacript:void(0);">在线咨询</a></dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="footer_blogroll">
			<dl class="clearfix">
				<dt><strong>友情链接：</strong></dt>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
			</dl>
		</div>
		<p class="footer_copyright">选鼎电商有限公司&#160;&#160;Copyright@2017&#160;www.xuandingds.com&#160;All&#160;Rights.版权所有：选鼎电商（XXXXXXXX）</p>
		<div class="footer_auth">
			<ul class="clearfix">
				<li>
					<a href="javacript:void(0);">
						<i class="icon01"></i>
						<span>经营性网站<br/>备案信息</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon02"></i>
						<span>可信网站<br/>信用评价</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon03"></i>
						<span>网络警察<br/>提醒您</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);" style="line-height: 28px;">
						<i class="icon04"></i>
						<span>诚信网站</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon05"></i>
						<span>中国互联网<br/>举报中心</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon06"></i>
						<span>网络举报<br/>APP下载</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$(".payment_info_state a").click(function(){
		$(this).toggleClass("active");
		$(".payment_info").slideToggle("400");
	})
});
</script>
</body>
</html>
