<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div class="settlement_box">
	<!--header-->
	<div class="header_wrap">
		<div class="wrap clearfix">
			<div class="header_locate">
				<a href="javacript:void(0);"><i></i>朝阳区</a>
				<span>免费安轮胎质量有保障</span>
			</div>
			<div class="header_state">
				<ul class="clearfix">
					<li><a href="javacript:void(0);">登录</a><em>|</em></li>
					<li><a href="javacript:void(0);">注册</a><em>|</em></li>
					<li><a href="javacript:void(0);">购物车 (<span>0</span>)</a><em>|</em></li>
					<li><a href="javacript:void(0);">个人中心</a><em>|</em></li>
					<li><a href="javacript:void(0);">联系我们</a><em>|</em></li>
					<li><a href="javacript:void(0);">APP下载</a></li>
				</ul>
			</div>
		</div>
		<div class="header">
			<div class="wrap clearfix">
				<h1 class="fl logo">
					<a href="javacript:void(0);">logo</a>
				</h1>
				<div class="header_opera">
					<div class="header_label">
						<ul class="clearfix">
							<li>正品轮胎</li>
							<li>售后保险</li>
							<li>免费安装</li>
							<li>价格公道</li>
							<li>就近分配</li>
						</ul>
					</div>
					<div class="header_search">
						<input type="text" placeholder="请输入商品" />
						<a href="javacript:void(0);"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="header_menu_wrap">
			<div class="wrap clearfix">
				<div class="header_type">
					<a href="javacript:void(0);"><i class="icon_car"></i>选择类型<i class="icon_plus"></i></a>
				</div>
				<div class="header_menu">
					<ul class="clearfix">
						<li><a href="javacript:void(0);">首页</a></li>
						<li><a class="active" href="javacript:void(0);">轮胎</a></li>
						<li><a href="javacript:void(0);">汽车配件</a></li>
						<li><a href="javacript:void(0);">积分换购</a></li>
					</ul>
				</div>
				<div class="header_tel">
					<span><i></i>010-8888888</span>
				</div>
			</div>
		</div>
	</div>
	<!--container-->
	<div class="wrap settlement_wrap">
		<h3 class="settlement_order">确认订单</h3>
		<!--收货信息-->
		<div class="clearfix settlement_info">
			<h4 class="clearfix settlement_tit">
				<span>收货信息</span>
				<span class="fc_red">建议直接邮寄到相应区域的联营汽修店以便直接安装</span>
				<a class="fc_gray6" href="javascript:void(0);">新增地址</a>
				<a class="fc_blue" href="javascript:void(0);">新增汽修厂地址</a>
			</h4>
			<div class="address_list">
				<ul class="clearfix">
					<li>
						<div class="address_item">
							<h6 class="clearfix">
								<i class="fl"></i>
								<span class="fl fc_gray6">老窝</span>
								<a class="fr" href="javascript:void(0);">删除</a>
							</h6>
							<div class="address_item_info">
								<p><span>小鸡炖蘑菇</span><span>188****8888</span></p>
								<p>北京市北京市朝阳区</p>
								<p>建外SOHO西区XX号楼XXXX室</p>
							</div>
							<a class="radius4 active" href="javascript:void(0);">&radic;</a>
						</div>
					</li>
					<li>
						<div class="address_item">
							<h6 class="clearfix">
								<i class="fl"></i>
								<span class="fl fc_gray6">公司</span>
								<a class="fr" href="javascript:void(0);">删除</a>
							</h6>
							<div class="address_item_info">
								<p><span>小鸡炖蘑菇</span><span>188****8888</span></p>
								<p>北京市北京市朝阳区</p>
								<p>建外SOHO西区XX号楼XXXX室</p>
							</div>
							<a class="radius4" href="javascript:void(0);"></a>
						</div>
					</li>
					<li>
						<div class="address_item">
							<h6 class="clearfix">
								<i class="fl"></i>
								<span class="fl fc_gray6">北苑汽配城</span>
								<a class="fr" href="javascript:void(0);">删除</a>
							</h6>
							<div class="address_item_info">
								<p><span>小鸡炖蘑菇</span><span>188****8888</span></p>
								<p>北京市北京市朝阳区</p>
								<p>建外SOHO西区XX号楼XXXX室</p>
							</div>
							<a class="radius4" href="javascript:void(0);"></a>
						</div>
					</li>
					<li>
						<div class="address_item">
							<h6 class="clearfix">
								<i class="fl"></i>
								<span class="fl fc_gray6">老窝3</span>
								<a class="fr" href="javascript:void(0);">删除</a>
							</h6>
							<div class="address_item_info">
								<p><span>小鸡炖蘑菇</span><span>188****8888</span></p>
								<p>北京市北京市朝阳区</p>
								<p>建外SOHO西区XX号楼XXXX室</p>
							</div>
							<a class="radius4" href="javascript:void(0);"></a>
						</div>
					</li>
					<li>
						<div class="address_item">
							<h6 class="clearfix">
								<i class="fl"></i>
								<span class="fl fc_gray6">老窝2</span>
								<a class="fr" href="javascript:void(0);">删除</a>
							</h6>
							<div class="address_item_info">
								<p><span>小鸡炖蘑菇</span><span>188****8888</span></p>
								<p>北京市北京市朝阳区</p>
								<p>建外SOHO西区XX号楼XXXX室</p>
							</div>
							<a class="radius4" href="javascript:void(0);"></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--收货清单-->
		<div class="settlement_list">
			<h4 class="settlement_tit">收货清单<em>订单编号：8888888888888</em></h4>
			<div class="settlement_pro">
				<ul>
					<li>
						<div class="clearfix shopping_item">
							<div class="fl w740 pro_item">
								<i class="pro_img"><img src="images/img/pro_img.png"/></i>
								<div class="pro_info">
									<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
									<div class="pro_index">
										<ul class="clearfix">
											<li>品牌：米其林</li>
											<li>速度级别：V</li>
											<li>毛重：9.8kg</li>
											<li>负荷指数：91</li>
											<li>类型：四季通用</li>
											<li class="fc_red">￥888.00</li>
										</ul>
									</div>
								</div>
							</div>	
							<div class="w140 fl tc">
								<h6>数量</h6>
								<p class="fc_red">1</p>
							</div>
							<div class="w140 fl tc">
								<h6>优惠</h6>
								<p class="fc_red">50</p>
							</div>
							<div class="w140 fl tc">
								<h6>总价</h6>
								<p class="fc_red">￥888.00</p>
							</div>
						</div>
					</li>
					<li>
						<div class="clearfix shopping_item">
							<div class="fl w740 pro_item">
								<i class="pro_img"><img src="images/img/pro_img.png"/></i>
								<div class="pro_info">
									<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
									<div class="pro_index">
										<ul class="clearfix">
											<li>品牌：米其林</li>
											<li>速度级别：V</li>
											<li>毛重：9.8kg</li>
											<li>负荷指数：91</li>
											<li>类型：四季通用</li>
											<li class="fc_red">￥888.00</li>
										</ul>
									</div>
								</div>
							</div>	
							<div class="w140 fl tc">
								<h6>数量</h6>
								<p class="fc_red">1</p>
							</div>
							<div class="w140 fl tc">
								<h6>优惠</h6>
								<p class="fc_red">50</p>
							</div>
							<div class="w140 fl tc">
								<h6>总价</h6>
								<p class="fc_red">￥888.00</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--订单备注-->
		<div class="settlement_comment">
			<h4 class="settlement_tit">订单备注</h4>
			<div class="settlement_comment_input">
				<textarea placeholder="限制45个字，请将购买需求在备注中详细说明"></textarea>
			</div>
			<h6>使用的优惠券</h6>
			<div class="settlement_amount">
				<ul class="clearfix">
					<li>优惠</li>
					<li>
						<span>账户优惠卷<em class="fc_red">2</em>张</span>
						<span>使用优惠卷<em class="fc_red">2</em>张</span> 
						<a href="javascript:void(0);">我的优惠券</a>
					</li>
					<li class="fc_red tr">-￥100</li>
				</ul>
				<ul class="clearfix">
					<li>运费</li>
					<li>本次运费由选鼎电商平台承担</li>
					<li class="tr">-￥0.00</li>
				</ul>
				<ul class="clearfix">
					<li>服务费</li>
					<li>轮胎安装费用由选鼎电商平台承担</li>
					<li class="tr">-￥0.00</li>
				</ul>
				<ul class="clearfix">
					<li>账户余额</li>
					<li>
						<span class="fl">当前账户余额为<em>0.00</em>元</span>
						<div class="fl settlement_checked">
							<input type="checkbox"/>
							<label for="">使用余额</label>
						</div>
					</li>
					<li class="tr">-￥0.00</li>
				</ul>
				<ul class="clearfix">
					<li>剩余积分</li>
					<li>
						<span class="fl">当前账户积分为<em>1000</em></span>
						<div class="fl settlement_checked">
							<input type="checkbox"/>
							<label for="">使用积分</label>
						</div>
					</li>
					<li class="tr">-￥0.00</li>
				</ul>
			</div>
		</div>
		<!--金额确认-->
		<div class="clearfix settlement_confirm">
			<a class="fr" href="javascript:void(0);">提交订单</a>
			<p class="fr" >应付总款：<span>￥1666.00</span></p>
		</div>
	</div>
	<!--footer-->
	<div class="wrap footer">
		<div class="footer_link">
			<ul class="clearfix">
				<li>
					<dl>
						<dt><strong>关于我们</strong></dt>
						<dd><a href="javacript:void(0);">公司介绍</a></dd>
						<dd><a href="javacript:void(0);">诚聘英才</a></dd>
						<dd><a href="javacript:void(0);">联系我们</a></dd>
						<dd><a href="javacript:void(0);">投诉建议</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>售后服务</strong></dt>
						<dd><a href="javacript:void(0);">质量问题</a></dd>
						<dd><a href="javacript:void(0);">退货政策</a></dd>
						<dd><a href="javacript:void(0);">退货流程</a></dd>
						<dd><a href="javacript:void(0);">在线客服</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>支付方式</strong></dt>
						<dd><a href="javacript:void(0);">在线支付</a></dd>
						<dd><a href="javacript:void(0);">支付问题</a></dd>
						<dd><a href="javacript:void(0);">换购说明</a></dd>
						<dd><a href="javacript:void(0);">发票说明</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>平台信息</strong></dt>
						<dd><a href="javacript:void(0);">网站公告</a></dd>
						<dd><a href="javacript:void(0);">媒体报道</a></dd>
						<dd><a href="javacript:void(0);">网贷平台</a></dd>
						<dd><a href="javacript:void(0);">站长统计</a></dd>
					</dl>
				</li>
				<li class="w24">
					<dl>
						<dt class="fw_400">企业QQ  88888888</dt>
						<dd></dd>
						<dd>企业客服    400-XXX-XXXX</dd>
						<dd></dd>
						<dd>(工作时间：9:30-18:30)</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt></dt>
						<dd></dd>
						<dd></dd>
						<dd></dd>
						<dd><a href="javacript:void(0);">在线咨询</a></dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="footer_blogroll">
			<dl class="clearfix">
				<dt><strong>友情链接：</strong></dt>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
			</dl>
		</div>
		<p class="footer_copyright">选鼎电商有限公司&#160;&#160;Copyright@2017&#160;www.xuandingds.com&#160;All&#160;Rights.版权所有：选鼎电商（XXXXXXXX）</p>
		<div class="footer_auth">
			<ul class="clearfix">
				<li>
					<a href="javacript:void(0);">
						<i class="icon01"></i>
						<span>经营性网站<br/>备案信息</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon02"></i>
						<span>可信网站<br/>信用评价</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon03"></i>
						<span>网络警察<br/>提醒您</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);" style="line-height: 28px;">
						<i class="icon04"></i>
						<span>诚信网站</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon05"></i>
						<span>中国互联网<br/>举报中心</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon06"></i>
						<span>网络举报<br/>APP下载</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--新增汽修厂地址弹窗-->
<div class="dialog_mask"></div>
<div class="dialog store_dialog">
	<div class="clearfix store_tit">
		<h2 class="fl">选择门店</h2>
		<div class="fr store_select_wrap">
			<div class="fl store_select">
				<select name="" title="省">
					<option value="北京市">北京市</option>
				</select>
			</div>
			<div class="fl store_select">
				<select name="" title="市">
					<option value="北京市">北京市</option>
				</select>
			</div>
			<div class="fl store_select">
				<select name="" title="区">
					<option value="东城区">东城区</option>
					<option value="西城区">西城区</option>
					<option value="崇文区">崇文区</option>
					<option value="宣武区">宣武区</option>
					<option value="朝阳区">朝阳区</option>
					<option value="丰台区">丰台区</option>
					<option value="石景山区">石景山区</option>
					<option value="海淀区">海淀区</option>
					<option value="门头沟区">门头沟区</option>
					<option value="房山区">房山区</option>
					<option value="通州区">通州区</option>
					<option value="顺义区">顺义区</option>
					<option value="昌平区">昌平区</option>
					<option value="大兴区">大兴区</option>
					<option value="怀柔区">怀柔区</option>
					<option value="平谷区">平谷区</option>
					<option value="密云区">密云区</option>
					<option value="延庆区">延庆区</option>
				</select>
			</div>
		</div>
		<a class="dialog_close" href="javacript:void(0);"></a>
	</div>
	<div class="store_map_wrap">
		<div class="fl store_map">
			<img src="images/img/map.png"/>
		</div>
		<div class="fr store_address">
			<div class="header_search">
				<input type="text" placeholder="请输入门店名称" />
				<a href="javacript:void(0);"></a>
			</div>
			<div class="store_address_list">
				<ul>
					<li>
						<div class="store_address_item">
							<h6><i></i>北苑汽配商城-联营</h6>
							<p>地址：北京市朝阳区北苑路17号北苑汽配商城</p>
							<div class="clearfix">
								<span class="fc_red">好评率：98%</span>
								<span>电话：010-6666666</span>
							</div>
						</div>
					</li>
					<li>
						<div class="store_address_item">
							<h6><i></i>北苑汽配商城-联营</h6>
							<p>地址：北京市朝阳区北苑路17号北苑汽配商城</p>
							<div class="clearfix">
								<span class="fc_red">好评率：98%</span>
								<span>电话：010-6666666</span>
							</div>
						</div>
					</li>
					<li>
						<div class="store_address_item">
							<h6><i></i>北苑汽配商城-联营</h6>
							<p>地址：北京市朝阳区北苑路17号北苑汽配商城</p>
							<div class="clearfix">
								<span class="fc_red">好评率：98%</span>
								<span>电话：010-6666666</span>
							</div>
						</div>
					</li>
					<li>
						<div class="store_address_item">
							<h6><i></i>北苑汽配商城-联营</h6>
							<p>地址：北京市朝阳区北苑路17号北苑汽配商城</p>
							<div class="clearfix">
								<span class="fc_red">好评率：98%</span>
								<span>电话：010-6666666</span>
							</div>
						</div>
					</li>
				</ul>
				<div class="clearfix store_page">
					<p class="fr">
						<span>共<em>50</em>家门店</span>
						<span><em class="fc_red">1</em>/<em>50</em></span>
						<a href="javascript:void(0);">&lt;</a>
						<a href="javascript:void(0);">&gt;</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
