<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div class="tyre_list_box">
	<!--header-->
	<div class="header_wrap">
		<div class="wrap clearfix">
			<div class="header_locate">
				<a href="javacript:void(0);"><i></i>朝阳区</a>
				<span>免费安轮胎质量有保障</span>
			</div>
			<div class="header_state">
				<ul class="clearfix">
					<li><a href="javacript:void(0);">登录</a><em>|</em></li>
					<li><a href="javacript:void(0);">注册</a><em>|</em></li>
					<li><a href="javacript:void(0);">购物车 (<span>0</span>)</a><em>|</em></li>
					<li><a href="javacript:void(0);">个人中心</a><em>|</em></li>
					<li><a href="javacript:void(0);">联系我们</a><em>|</em></li>
					<li><a href="javacript:void(0);">APP下载</a></li>
				</ul>
			</div>
		</div>
		<div class="header">
			<div class="wrap clearfix">
				<h1 class="fl logo">
					<a href="javacript:void(0);">logo</a>
				</h1>
				<div class="header_opera">
					<div class="header_label">
						<ul class="clearfix">
							<li>正品轮胎</li>
							<li>售后保险</li>
							<li>免费安装</li>
							<li>价格公道</li>
							<li>就近分配</li>
						</ul>
					</div>
					<div class="header_search">
						<input type="text" placeholder="请输入商品" />
						<a href="javacript:void(0);"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="header_menu_wrap">
			<div class="wrap clearfix">
				<div class="header_type">
					<a href="javacript:void(0);"><i class="icon_car"></i>选择类型<i class="icon_plus"></i></a>
				</div>
				<div class="header_menu">
					<ul class="clearfix">
						<li><a href="javacript:void(0);">首页</a></li>
						<li><a class="active" href="javacript:void(0);">轮胎</a></li>
						<li><a href="javacript:void(0);">汽车配件</a></li>
						<li><a href="javacript:void(0);">汽车服务</a></li>
						<li><a href="javacript:void(0);">积分换购</a></li>
					</ul>
				</div>
				<div class="header_tel">
					<span><i></i>010-8888888</span>
				</div>
			</div>
		</div>
	</div>
		
	<!--container-->
	<div class="wrap">
		<p class="page_nav"><a href="javacript:void(0);">首页</a><span>></span><em>轮胎</em></p>
		<div class="clearfix">
			<div class="fl tyre_left">
				<div class="tyre_filter">
					<div class="tyre_filter_type">
						<div class="info_tit tyre_filter_tit">
							<ul class="clearfix">
								<li><a class="active" href="javacript:void(0);">按车型选择<span></span></a></li>
								<li><a href="javacript:void(0);">按尺寸选择<span></span></a></li>
							</ul>
						</div>
						<!--按车型选择-->
						<div id="filter_models" class="tyre_filter_item">
							<i><img src="images/img/tyre_filter01.jpg"/></i>
							<div class="tyre_filter_models">
								<ul>
									<li class="clearfix">
										<strong>我滴爱车：</strong>
										<strong>宝马X5</strong>
									</li>
									<li class="clearfix">
										<strong>我的车库：</strong>
										<span>
											<input type="radio" name="carname" id="car1" checked="checked"/>
											<label for="car1">宝马X5</label>
										</span>
										<span>
											<input type="radio" name="carname" id="car2"/>
											<label for="car2">奥迪Q7</label>
										</span>
										<span>
											<input type="radio" name="carname" id="car3"/>
											<label for="car3">辉腾</label>
										</span>
										<span>
											<input type="radio" name="carname" id="car4"/>
											<label for="car4">迈巴赫</label>
										</span>
										<a class="tyre_filter_add" href="javacript:void(0);">添加车型</a>
										<a class="tyre_filter_manage" href="javacript:void(0);">车型管理</a>
									</li>
								</ul>
							</div>
						</div>
						<!--按尺寸选择-->
						<div id="filter_size" class="tyre_filter_item" style="display: none;">
							<i><img src="images/img/tyre_filter02.jpg"/></i>
							<div class="tyre_filter_size">
								<ul class="clearfix">
									<li>
										<select name="tyre_width" title="胎面宽">
											<option selected="selected" value="">胎面宽</option>
											<option value="">0</option>
											<option value="">145</option>
											<option value="">155</option>
											<option value="">165</option>
											<option value="">175</option>
											<option value="">185</option>
											<option value="">195</option>
											<option value="">205</option>
											<option value="">206</option>
											<option value="">215</option>
											<option value="">225</option>
											<option value="">235</option>
											<option value="">245</option>
											<option value="">254</option>
											<option value="">255</option>
											<option value="">265</option>
											<option value="">275</option>
											<option value="">285</option>
											<option value="">295</option>
											<option value="">305</option>
											<option value="">315</option>
										</select>
									</li>
									<li>
										<select name="tyre_flat" title="扁平比">
											<option selected="selected" value="">扁平比</option>
											<option value="0">0</option>
											<option value="145">5</option>
											<option value="155">12.5</option>
											<option value="165">15</option>
											<option value="175">25</option>
											<option value="185">30</option>
											<option value="195">35</option>
											<option value="205">40</option>
											<option value="206">45</option>
											<option value="215">50</option>
											<option value="255">55</option>
											<option value="235">60</option>
											<option value="245">65</option>
											<option value="254">70</option>
											<option value="255">75</option>
											<option value="265">80</option>
											<option value="275">85</option>
										</select>
									</li>
									<li>
										<select name="tyre_diameter" title="直径">
											<option selected="selected" value="">直径</option>
											<option value="">0</option>
											<option value="">12</option>
											<option value="">12C</option>
											<option value="">13</option>
											<option value="">13C</option>
											<option value="">14</option>
											<option value="">14C</option>
											<option value="">15</option>
											<option value="">15C</option>
											<option value="">16</option>
											<option value="">16C</option>
											<option value="">17</option>
											<option value="">18</option>
											<option value="">19</option>
											<option value="">20</option>
											<option value="">21</option>
											<option value="">22</option>
										</select>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tyre_filter_condition">
						<div>
							<dl class="clearfix">
								<dt>轮胎品牌</dt>
								<dd><a class="active" href="javacript:void(0);">不限</a></dd>
								<dd><a href="javacript:void(0);">固特异</a></dd>
								<dd><a href="javacript:void(0);">朝阳</a></dd>
								<dd><a href="javacript:void(0);">德国马牌</a></dd>
								<dd><a href="javacript:void(0);">万力</a></dd>
								<dd><a href="javacript:void(0);">耐克森</a></dd>
								<dd><a href="javacript:void(0);">玲珑</a></dd>
								<dd><a href="javacript:void(0);">韩泰</a></dd>
							</dl>
						</div>
						<div>
							<dl class="clearfix">
								<dt>轮胎类型</dt>
								<dd><a class="active" href="javacript:void(0);">不限</a></dd>
								<dd><a href="javacript:void(0);">防爆轮胎</a></dd>
								<dd><a href="javacript:void(0);">非防爆轮胎</a></dd>
								<dd><a href="javacript:void(0);">四季通用轮胎</a></dd>
								<dd><a href="javacript:void(0);">雪地轮胎</a></dd>
							</dl>
						</div>
						<div>
							<dl class="clearfix">
								<dt>速度级别</dt>
								<dd><a class="active" href="javacript:void(0);">不限</a></dd>
								<dd><a href="javacript:void(0);">H</a></dd>
								<dd><a href="javacript:void(0);">N</a></dd>
								<dd><a href="javacript:void(0);">R</a></dd>
								<dd><a href="javacript:void(0);">S</a></dd>
								<dd><a href="javacript:void(0);">T</a></dd>
								<dd><a href="javacript:void(0);">V</a></dd>
								<dd><a href="javacript:void(0);">W</a></dd>
								<dd><a href="javacript:void(0);">Y</a></dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="pro_data">
					<ul class="clearfix">
						<li><a class="active" href="javacript:void(0);">综合</a></li>
						<li><a href="javacript:void(0);">销量</a></li>
						<li><a href="javacript:void(0);">评论</a></li>
						<li><a href="javacript:void(0);">价格</a></li>
					</ul>
				</div>
				<div class="pro_list">
					<ul>
						<li>
							<div class="clearfix pro_item">
								<i class="pro_img"><img src="images/img/pro_img.png"/></i>
								<div class="pro_info">
									<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
									<div class="pro_index">
										<ul class="clearfix">
											<li>品牌：米其林</li>
											<li>速度级别：V</li>
											<li class="pro_index_opera"><i></i><strong>免费安装</strong></li>
											<li>毛重：9.8kg</li>
											<li>负荷指数：91</li>
											<li>累计出售：888条</li>
											<li class="pro_eval_index">
												<i></i>
												<i></i>
												<i></i>
												<i></i>
												<i></i>
												<span class="fc_red">5.0</span>
											</li>
											<li>类型：四季通用</li>
											<li>累计评论：300+</li>
										</ul>
									</div>
								</div>
								<div class="pro_price">
									<strong>￥888.00</strong>
									<a href="javacript:void(0);">查看详情</a>
								</div>
							</div>
						</li>
						<li>
							<div class="clearfix pro_item">
								<i class="pro_img"><img src="images/img/pro_img.png"/></i>
								<div class="pro_info">
									<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
									<div class="pro_index">
										<ul class="clearfix">
											<li>品牌：米其林</li>
											<li>速度级别：V</li>
											<li class="pro_index_opera"><i></i><strong>免费安装</strong></li>
											<li>毛重：9.8kg</li>
											<li>负荷指数：91</li>
											<li>累计出售：888条</li>
											<li class="pro_eval_index">
												<i></i>
												<i></i>
												<i></i>
												<i></i>
												<i></i>
												<span class="fc_red">5.0</span>
											</li>
											<li>类型：四季通用</li>
											<li>累计评论：300+</li>
										</ul>
									</div>
								</div>
								<div class="pro_price">
									<strong>￥888.00</strong>
									<a href="javacript:void(0);">查看详情</a>
								</div>
							</div>
						</li>
						<li>
							<div class="clearfix pro_item">
								<i class="pro_img"><img src="images/img/pro_img.png"/></i>
								<div class="pro_info">
									<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
									<div class="pro_index">
										<ul class="clearfix">
											<li>品牌：米其林</li>
											<li>速度级别：V</li>
											<li class="pro_index_opera"><i></i><strong>免费安装</strong></li>
											<li>毛重：9.8kg</li>
											<li>负荷指数：91</li>
											<li>累计出售：888条</li>
											<li class="pro_eval_index">
												<i></i>
												<i></i>
												<i></i>
												<i></i>
												<i></i>
												<span class="fc_red">5.0</span>
											</li>
											<li>类型：四季通用</li>
											<li>累计评论：300+</li>
										</ul>
									</div>
								</div>
								<div class="pro_price">
									<strong>￥888.00</strong>
									<a href="javacript:void(0);">查看详情</a>
								</div>
							</div>
						</li>
						<li>
							<div class="clearfix pro_item">
								<i class="pro_img"><img src="images/img/pro_img.png"/></i>
								<div class="pro_info">
									<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
									<div class="pro_index">
										<ul class="clearfix">
											<li>品牌：米其林</li>
											<li>速度级别：V</li>
											<li class="pro_index_opera"><i></i><strong>免费安装</strong></li>
											<li>毛重：9.8kg</li>
											<li>负荷指数：91</li>
											<li>累计出售：888条</li>
											<li class="pro_eval_index">
												<i></i>
												<i></i>
												<i></i>
												<i></i>
												<i></i>
												<span class="fc_red">5.0</span>
											</li>
											<li>类型：四季通用</li>
											<li>累计评论：300+</li>
										</ul>
									</div>
								</div>
								<div class="pro_price">
									<strong>￥888.00</strong>
									<a href="javacript:void(0);">查看详情</a>
								</div>
							</div>
						</li>
						<li>
							<div class="clearfix pro_item">
								<i class="pro_img"><img src="images/img/pro_img.png"/></i>
								<div class="pro_info">
									<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
									<div class="pro_index">
										<ul class="clearfix">
											<li>品牌：米其林</li>
											<li>速度级别：V</li>
											<li class="pro_index_opera"><i></i><strong>免费安装</strong></li>
											<li>毛重：9.8kg</li>
											<li>负荷指数：91</li>
											<li>累计出售：888条</li>
											<li class="pro_eval_index">
												<i></i>
												<i></i>
												<i></i>
												<i></i>
												<i></i>
												<span class="fc_red">5.0</span>
											</li>
											<li>类型：四季通用</li>
											<li>累计评论：300+</li>
										</ul>
									</div>
								</div>
								<div class="pro_price">
									<strong>￥888.00</strong>
									<a href="javacript:void(0);">查看详情</a>
								</div>
							</div>
						</li>
						<li>
							<div class="clearfix pro_item">
								<i class="pro_img"><img src="images/img/pro_img.png"/></i>
								<div class="pro_info">
									<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
									<div class="pro_index">
										<ul class="clearfix">
											<li>品牌：米其林</li>
											<li>速度级别：V</li>
											<li class="pro_index_opera"><i></i><strong>免费安装</strong></li>
											<li>毛重：9.8kg</li>
											<li>负荷指数：91</li>
											<li>累计出售：888条</li>
											<li class="pro_eval_index">
												<i></i>
												<i></i>
												<i></i>
												<i></i>
												<i></i>
												<span class="fc_red">5.0</span>
											</li>
											<li>类型：四季通用</li>
											<li>累计评论：300+</li>
										</ul>
									</div>
								</div>
								<div class="pro_price">
									<strong>￥888.00</strong>
									<a href="javacript:void(0);">查看详情</a>
								</div>
							</div>
						</li>
						<li>
							<div class="clearfix pro_item">
								<i class="pro_img"><img src="images/img/pro_img.png"/></i>
								<div class="pro_info">
									<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
									<div class="pro_index">
										<ul class="clearfix">
											<li>品牌：米其林</li>
											<li>速度级别：V</li>
											<li class="pro_index_opera"><i></i><strong>免费安装</strong></li>
											<li>毛重：9.8kg</li>
											<li>负荷指数：91</li>
											<li>累计出售：888条</li>
											<li class="pro_eval_index">
												<i></i>
												<i></i>
												<i></i>
												<i></i>
												<i></i>
												<span class="fc_red">5.0</span>
											</li>
											<li>类型：四季通用</li>
											<li>累计评论：300+</li>
										</ul>
									</div>
								</div>
								<div class="pro_price">
									<strong>￥888.00</strong>
									<a href="javacript:void(0);">查看详情</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="clearfix pro_page">
					<ul>
						<li><a class="plr8" href="javacript:void(0);">&lt;上一页</a></li>
						<li><a class="active" href="javacript:void(0);">1</a></li>
						<li><a href="javacript:void(0);">2</a></li>
						<li><a href="javacript:void(0);">3</a></li>
						<li><a href="javacript:void(0);">4</a></li>
						<li><a href="javacript:void(0);">5</a></li>
						<li><a href="javacript:void(0);">6</a></li>
						<li><a href="javacript:void(0);">7</a></li>
						<li><span>&bull;&bull;&bull;&bull;&bull;&bull;</span></li>
						<li><a class="plr8" href="javacript:void(0);">下一页&gt;</a></li>
						<li><span>共50页</span></li>
						<li class="pro_page_edit">
							<span class="fl">到第</span>
							<input class="fl" type="text" value="1" />
							<span class="fl">页</span>
							<a class="fl" href="javacript:void(0);">确定</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="fr tyre_right">
				<!--登录-->
				<div class="index_login">
					<span></span>
					<p>HI&#160;&#160;恭迎圣上</p>
					<div class="clearfix index_login_btn">
						<a href="javacript:void(0);">注册</a>
						<a href="javacript:void(0);">登录</a>
					</div>
				</div>
				<!--我的浏览-->
				<div class="browse_wrap">
					<h3 class="browse_tit">我的浏览</h3>
					<div class="browse_list">
						<ul>
							<li>
								<div class="browse_item">
									<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
									<i><img src="images/img/tyre.jpg"/></i>
									<span>￥668.00</span>
									<a class="tyre_buy" href="javacript:void(0);">购买</a>
								</div>
							</li>
							<li>
								<div class="browse_item">
									<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
									<i><img src="images/img/tyre.jpg"/></i>
									<span>￥668.00</span>
									<a class="tyre_buy" href="javacript:void(0);">购买</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
				<!--相关推荐-->
				<div class="browse_wrap">
					<h3 class="browse_tit">相关推荐</h3>
					<div class="browse_list rec_list">
						<ul>
							<li>
								<div class="browse_item">
									<i><img src="images/img/tyre.jpg"/></i>
									<a href="javacript:void(0);">
										<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
										<em>￥668.00</em>
									</a>
								</div>
							</li>
							<li>
								<div class="browse_item">
									<i><img src="images/img/tyre.jpg"/></i>
									<a href="javacript:void(0);">
										<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
										<em>￥668.00</em>
									</a>
								</div>
							</li>
							<li>
								<div class="browse_item">
									<i><img src="images/img/tyre.jpg"/></i>
									<a href="javacript:void(0);">
										<h6>米其林 MICHELIN ENERGY XM2 韧悦 205/55R16 91V</h6>
										<em>￥668.00</em>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
				<!--新春好礼-->
				<div class="tyre_ads">
					<ul>
						<li>
							<a href="javacript:void(0);"><img src="images/img/spring.jpg"/></a>
						</li>
						<li>
							<a href="javacript:void(0);"><img src="images/img/spring.jpg"/></a>
						</li>
						<li>
							<a href="javacript:void(0);"><img src="images/img/spring.jpg"/></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--footer-->
	<div class="wrap footer">
		<div class="footer_link">
			<ul class="clearfix">
				<li>
					<dl>
						<dt><strong>关于我们</strong></dt>
						<dd><a href="javacript:void(0);">公司介绍</a></dd>
						<dd><a href="javacript:void(0);">诚聘英才</a></dd>
						<dd><a href="javacript:void(0);">联系我们</a></dd>
						<dd><a href="javacript:void(0);">投诉建议</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>售后服务</strong></dt>
						<dd><a href="javacript:void(0);">质量问题</a></dd>
						<dd><a href="javacript:void(0);">退货政策</a></dd>
						<dd><a href="javacript:void(0);">退货流程</a></dd>
						<dd><a href="javacript:void(0);">在线客服</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>支付方式</strong></dt>
						<dd><a href="javacript:void(0);">在线支付</a></dd>
						<dd><a href="javacript:void(0);">支付问题</a></dd>
						<dd><a href="javacript:void(0);">换购说明</a></dd>
						<dd><a href="javacript:void(0);">发票说明</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>平台信息</strong></dt>
						<dd><a href="javacript:void(0);">网站公告</a></dd>
						<dd><a href="javacript:void(0);">媒体报道</a></dd>
						<dd><a href="javacript:void(0);">网贷平台</a></dd>
						<dd><a href="javacript:void(0);">站长统计</a></dd>
					</dl>
				</li>
				<li class="w24">
					<dl>
						<dt class="fw_400">企业QQ  88888888</dt>
						<dd></dd>
						<dd>企业客服    400-XXX-XXXX</dd>
						<dd></dd>
						<dd>(工作时间：9:30-18:30)</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt></dt>
						<dd></dd>
						<dd></dd>
						<dd></dd>
						<dd><a href="javacript:void(0);">在线咨询</a></dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="footer_blogroll">
			<dl class="clearfix">
				<dt><strong>友情链接：</strong></dt>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
			</dl>
		</div>
		<p class="footer_copyright">选鼎电商有限公司&#160;&#160;Copyright@2017&#160;www.xuandingds.com&#160;All&#160;Rights.版权所有：选鼎电商（XXXXXXXX）</p>
		<div class="footer_auth">
			<ul class="clearfix">
				<li>
					<a href="javacript:void(0);">
						<i class="icon01"></i>
						<span>经营性网站<br/>备案信息</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon02"></i>
						<span>可信网站<br/>信用评价</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon03"></i>
						<span>网络警察<br/>提醒您</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);" style="line-height: 28px;">
						<i class="icon04"></i>
						<span>诚信网站</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon05"></i>
						<span>中国互联网<br/>举报中心</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon06"></i>
						<span>网络举报<br/>APP下载</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
//展示切换效果
$(function(){
	var preIndexN , indexN;
	for (var i=0; i<$(".info_tit a").length;i++) {
		if ($(".info_tit a").eq(i).hasClass("active")) {
			indexN = i;
		}
	}
	$(".info_tit a").click(function(){
		if($(this).hasClass("disabled")){
			return false;
		}
		preIndexN = indexN;
		indexN = $(".info_tit a").index(this);
		$(".info_tit a").removeClass("active in reverse");
		$(this).addClass("active");
		if(preIndexN < indexN){
			$(this).addClass("reverse");
		}else{
			$(this).addClass("in");
		}
		$(".tyre_filter_item").css("display","none");
		if ($(".info_tit a").index(this)==0) {
			$("#filter_models").css("display","block");
		} else if($(".info_tit a").index(this)==1){
			$("#filter_size").css("display","block");
		}
	});
});
</script>
</body>
</html>
