<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div class="goods_detail_box">
	<!--header-->
	<div class="header_wrap">
		<div class="wrap clearfix">
			<div class="header_locate">
				<a href="javacript:void(0);"><i></i>朝阳区</a>
				<span>免费安轮胎质量有保障</span>
			</div>
			<div class="header_state">
				<ul class="clearfix">
					<li><a href="javacript:void(0);">登录</a><em>|</em></li>
					<li><a href="javacript:void(0);">注册</a><em>|</em></li>
					<li><a href="javacript:void(0);">购物车 (<span>0</span>)</a><em>|</em></li>
					<li><a href="javacript:void(0);">个人中心</a><em>|</em></li>
					<li><a href="javacript:void(0);">联系我们</a><em>|</em></li>
					<li><a href="javacript:void(0);">APP下载</a></li>
				</ul>
			</div>
		</div>
		<div class="header">
			<div class="wrap clearfix">
				<h1 class="fl logo">
					<a href="javacript:void(0);">logo</a>
				</h1>
				<div class="header_opera">
					<div class="header_label">
						<ul class="clearfix">
							<li>正品轮胎</li>
							<li>售后保险</li>
							<li>免费安装</li>
							<li>价格公道</li>
							<li>就近分配</li>
						</ul>
					</div>
					<div class="header_search">
						<input type="text" placeholder="请输入商品" />
						<a href="javacript:void(0);"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="header_menu_wrap">
			<div class="wrap clearfix">
				<div class="header_menu">
					<ul class="clearfix">
						<li><a href="javacript:void(0);">首页</a></li>
						<li><a class="active" href="javacript:void(0);">轮胎</a></li>
						<li><a href="javacript:void(0);">汽车配件</a></li>
						<li><a href="javacript:void(0);">积分换购</a></li>
					</ul>
				</div>
				<div class="header_tel">
					<span><i></i>010-8888888</span>
				</div>
			</div>
		</div>
	</div>
		
	<!--container-->
	<div class="wrap">
		<p class="page_nav">
			<a href="javacript:void(0);">首页</a><span>></span>
			<a href="javacript:void(0);">轮胎</a><span>></span>
			<em>米其林 MICHELIN ENERGY XM2</em>
		</p>
		<!--商品参数-->
		<div class="clearfix goods_top">
			<!--商品图片-->
			<div class="fl goods_top_img">
				<div class="e_zoom">
					<img src="images/img/goods_pic06.jpg" data-img-big="images/img/goods_pic06_big.jpg"/>
					<span></span>
					<div><img src=""/></div>
				</div>
				<div class="goods_top_img_list">
					<ul class="clearfix">
						<li><i><img src="images/img/goods_pic01.jpg"/></i></li>
						<li><i><img src="images/img/goods_pic02.jpg"/></i></li>
						<li><i><img src="images/img/goods_pic03.jpg"/></i></li>
						<li><i><img src="images/img/goods_pic04.jpg"/></i></li>
						<li><i><img src="images/img/goods_pic05.jpg"/></i></li>
						<li><i class="active"><img src="images/img/goods_pic06.jpg"/></i></li>
					</ul>
				</div>
			</div>
			<!--商品参数-->
			<div class="fl goods_top_param">
				<h3>米其林 MICHELIN XM2 韧悦205/55R16 91V</h3>
				<div class="goods_top_param_info">
					<ul class="clearfix">
						<li><span>轮胎品牌：</span>米其林 MICHELIN</li>
						<li><span>轮胎类型：</span>四季通用</li>
						<li><span>速度级别：</span>V（最高240公里/小时）</li>
						<li><span>产品规格：</span>205/55R16</li>
						<li><span>载重指数：</span>91（最高载重615千克）</li>
						<li><span>花纹类型：</span>XM2</li>
					</ul>
				</div>
				<div class="goods_top_param_service">
					<dl class="clearfix">
						<dt>配送至：</dt>
						<dd>
							<div class="goods_service_area">
								<a class="goods_area_btn" href="javascript:void(0);">请选择地址<i></i></a>
								<!--未选择状态-->
								<!--<div class="goods_area">
									<div class="goods_area_select">
										<ul class="clearfix">
											<li><em class="active">请选择</em></li>
										</ul>
									</div>
									<div class="goods_area_options">
										<ul class="clearfix">
											<li><a href="javascript:void(0);">北京市</a></li>
										</ul>
									</div>
								</div>-->
								<!--选择市状态-->
								<!--<div class="goods_area">
									<div class="goods_area_select">
										<ul class="clearfix">
											<li><em>北京市</em></li>
											<li><em class="active">请选择</em></li>
										</ul>
									</div>
									<div class="goods_area_options">
										<ul class="clearfix">
											<li><a href="javascript:void(0);">北京市</a></li>
										</ul>
									</div>
								</div>-->
								<!--选择区状态-->
								<!--<div class="goods_area">
									<div class="goods_area_select">
										<ul class="clearfix">
											<li><em>北京市</em></li>
											<li><em>北京市</em></li>
											<li><em class="active">请选择</em></li>
										</ul>
									</div>
									<div class="goods_area_options">
										<ul class="clearfix">
											<li><a href="javascript:void(0);">东城区</a></li>
											<li><a href="javascript:void(0);">西城区</a></li>
											<li><a href="javascript:void(0);">崇文区</a></li>
											<li><a href="javascript:void(0);">宣武区</a></li>
											<li><a href="javascript:void(0);">朝阳区</a></li>
											<li><a href="javascript:void(0);">丰台区</a></li>
											<li><a href="javascript:void(0);">石景山区</a></li>
											<li><a href="javascript:void(0);">海淀区</a></li>
											<li><a href="javascript:void(0);">门头沟区</a></li>
											<li><a href="javascript:void(0);">房山区</a></li>
											<li><a href="javascript:void(0);">通州区</a></li>
											<li><a href="javascript:void(0);">顺义区</a></li>
											<li><a href="javascript:void(0);">昌平区</a></li>
											<li><a href="javascript:void(0);">大兴区</a></li>
											<li><a href="javascript:void(0);">怀柔区</a></li>
											<li><a href="javascript:void(0);">平谷区</a></li>
											<li><a href="javascript:void(0);">密云区</a></li>
											<li><a href="javascript:void(0);">延庆区</a></li>
										</ul>
									</div>
								</div>
							</div>-->
						</dd>
						<dd>累计销量：<em class="fc_red">8888</em>条</dd>
						<dd>累计评价：<em class="fc_red">8888+</em></dd>
						<dd>好评率：<em class="fc_red">99%</em></dd>
					</dl>
					<dl class="clearfix">
						<dt>提供服务：</dt>
						<dd><span>免费配送</span></dd>
						<dd><span>免费安装</span></dd>
						<dd><span>免费轮胎险</span></dd>
						<dd><span>免费气门嘴</span></dd>
					</dl>
					<dl class="clearfix">
						<dt>价格：</dt>
						<dd><strong class="fc_red">￥688</strong></dd>
					</dl>
					<dl class ="clearfix">
						<dt>促销活动：</dt>
						<dd>
							<p><i>活动1</i>新用户可用红包抵扣10元现金</p>
							<p><i>活动1</i>新用户可用红包抵扣10元现金</p>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt>购买数量：</dt>
						<dd>
							<div class="shopping_num">
								<input type="text" value="1" />
								<i class="icon_minus">-</i>
								<i class="icon_plus">+</i>
							</div>
						</dd>
					</dl>
				</div>
<!-- 				<div class="goods_install_wrap">
					<ul class="clearfix">
						<li><a href="javascript:void(0);">无需安装</a></li>
						<li><a class="active" href="javascript:void(0);">到店安装</a></li>
						<li><a class="goods_install_area" href="javascript:void(0);">选择安装门店</a></li>
					</ul>
				</div> -->
				<div class="clearfix goods_top_opera">
					<a class="btn_sales" href="javascript:void(0);"><i></i><span>售前咨询</span></a>
					<a class="btn_collection" href="javascript:void(0);">加入收藏</a>
					<a class="btn_buy" href="javascript:void(0);">立即购买</a>
					<a class="btn_buy active" href="javascript:void(0);">加入购物车</a>
				</div>
			</div>
			<!--同型号推荐-->
			<div class="fl goods_top_recommand">
				<h3 class="goods_small_tit">同型号推荐</h3>
				<div class="xsqg_inner">
					<ul>
						<li>
							<a class="list_pro xsqg_pro">
								<h6>马牌轮胎</h6>
								<span><img src="images/img/tyre.jpg"/></span>
								<p>
									<em>抢购价￥220</em>
									<del>原价￥260</del>
								</p>
								<i></i>
							</a>
						</li>
						<li>
							<a class="list_pro xsqg_pro">
								<h6>马牌轮胎</h6>
								<span><img src="images/img/tyre.jpg"/></span>
								<p>
									<em>抢购价￥220</em>
									<del>原价￥260</del>
								</p>
								<i></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<!--分类介绍-->
		<div class="clearfix goods_middle">
			<div class="fl goods_middle_left">
				<!--浏览过-->
				<div class="goods_top_recommand">
					<h3 class="goods_small_tit">我浏览过</h3>
					<div class="xsqg_inner">
						<ul>
							<li>
								<a class="list_pro xsqg_pro">
									<h6>马牌轮胎</h6>
									<span><img src="images/img/tyre.jpg"/></span>
									<p>
										<em>抢购价￥220</em>
										<del>原价￥260</del>
									</p>
									<i></i>
								</a>
							</li>
							<li>
								<a class="list_pro xsqg_pro">
									<h6>马牌轮胎</h6>
									<span><img src="images/img/tyre.jpg"/></span>
									<p>
										<em>抢购价￥220</em>
										<del>原价￥260</del>
									</p>
									<i></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="goods_hot_wrap">
					<h3 class="goods_small_tit">热门活动</h3>
					<div class="goods_hot">
						<ul>
							<li><a href="javascript:void(0);"><img src="images/img/goods_hot.png"/></a></li>
							<li><a href="javascript:void(0);"><img src="images/img/goods_hot.png"/></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="fl goods_classified">
				<div class="info_tit">
					<ul class="clearfix">
						<li><a href="javascript:void(0);">商品详情<span></span></a></li>
						<li><a class="active" href="javascript:void(0);">商品规格<span></span></a></li>
						<li><a href="javascript:void(0);">商品评价<span></span></a></li>
					</ul>
				</div>
				<!--商品详情-->
				<!--<div class="goods_detail">
					<img src="images/img/goods_details_img.png"/>
				</div>-->
				<!--商品规格-->
				<div class="goods_size">
					<div class="goods_top_param_info">
						<ul class="clearfix">
							<li><span>轮胎品牌：</span>米其林 MICHELIN</li>
							<li><span>轮胎类型：</span>四季通用</li>
							<li><span>速度级别：</span>V（最高240公里/小时）</li>
							<li><span>产品规格：</span>205/55R16</li>
							<li><span>载重指数：</span>91（最高载重615千克）</li>
							<li><span>花纹类型：</span>XM2</li>
						</ul>
					</div>
					<!--厂家声明文件-->
					<div class="rgcca_wrap">
						<div class="rgcca_guarantee_wrap">
							<h3>服务保障</h3>
							<div class="rgcca_guarantee">
								<ul>
									<li>
										<i class="icon01"></i>
										<h6>厂家服务</h6>
										<p>本产品全国联保，享受三包服务，质保期为：三年质保</p>
									</li>
									<li>
										<i class="icon02"></i>
										<h6>京东承诺</h6>
										<p>京东平台卖家销售并发货的商品，由平台卖家提供发票和相应的售后服务。请您放心购买！</p>
										<p>注：因厂家会在没有任何前提通知的情况下更改产品包装，产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若商品没有及时更新，请大家谅解！</p>
									</li>
									<li>
										<i class="icon03"></i>
										<h6>正品行货</h6>
										<p>京东商城向您保证所售商品均为正品行货，京东自营商品开具机打发票或电子发票。</p>
									</li>
									<li>
										<i class="icon04"></i>
										<h6>全国联保</h6>
										<p>凭质保证书及京东商城发票，可享受全国联保服务（奢侈品，钟表除外；奢侈品、钟表由京东联系保修，享受法定三包售后服务），与您亲临商场选购的商品享受相同的质量保证。京东商城还为您提供具有竞争力的商品价格和<a href="jaascript:void(0);">运费政策</a>，请您放心购买！</p>
										<p>注：因厂家会在没有任何提前通知的情况下更改产品的包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正品货！并且保证与当时市场上同样的主流新品一致。若本商城没有及时更新，请大家谅解！</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="rgcca_state">
							<h6>权力声明：</h6>
							<p>京东上的所有商品信息、客户评价、商品咨询、网友讨论等内容，是京东重要的经营资源，未经许可，禁止非法转载使用。</p>
							<p><strong>注：</strong>本站商品信息均来自于合作方，其真实性、准确性和合法性由信息拥有者（合作方）负责。本章不提供任何保证，并不承担任何法律责任。</p>
							<h6>价格说明：</h6>
							<p><strong>京东价：</strong>京东价位商品的销售价，是您最终决定是否购买商品的依据。</p>
							<p><strong>划线价：</strong>商品展示的划横线价格为参考价格，该价格可能是品牌专柜标价、商品吊牌价或由品牌供应商提供的正品零售价（如厂商指导价、建议零售价等）或该商品在京东平台上曾经展示过的销售价；由于地区、时间的差异性和市场行情波动，品牌专柜标价、商品吊牌价等可能会与您购物时展示的不一致，该价格仅供您参考。</p>
							<p><strong>折扣：</strong>如无特殊说明，折扣指销售商在原价、或划线价（如品牌专柜标价、商品吊牌价、厂商指导价、厂商建议价）等某一价格基础上计算出的优惠比例或优惠金额；如有疑问，您可在购买前联系销售商进行咨询。</p>
							<p><strong>异常问题：</strong>商品促销信息以商品详情页“促销”栏中信息为准；商品的具体售价以订单结算页价格为准；如您发现活动商品售价或促销信息有异常，建议购买前先联系销售商咨询。</p>
						</div>
					</div>
				</div>
				<!--商品评价-->
				<div class="comment_wrap">
					<div class="comment_summary_wrap">
						<p class="comment_rate">好评率<strong>99<small>%</small></strong></p>
						<div class="comment_summary">
							<div class="comment_label">
								<ul class="clearfix">
									<li>轮胎质量好(200)</li>
									<li>服务态度好(300)</li>
									<li>价格低(500)</li>
									<li>体验好(1000)</li>
									<li>性价比高(10000+)</li>
								</ul>
							</div>
							<div class="comment_type">
								<ul class="clearfix">
									<li class="active">
										<input type="radio" name="comment" id="comment_all" checked="checked"/>
										<label for="comment_all">全部评论</label>
									</li>
									<li>
										<input type="radio" name="comment" id="comment_local"/>
										<label for="comment_local">晒单评论</label>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--评论列表-->
					<div class="comment_list">
						<!--评论1：所有项-->
						<div class="comment_item">
							<!--用户信息-->
							<div class="comment_user_wrap">
								<div class="comment_user">
									<i><img src="images/img/comment_img.jpg"/></i>
									<span>那***_</span>
								</div>
								<p class="fc_gold">PLUS会员</p>
							</div>
							<!--评论内容-->
							<div class="comment_content">
								<div class="clearfix comment_content_star">
									<i class="active"></i>
									<i class="active"></i>
									<i class="active"></i>
									<i class="active"></i>
									<i></i>
								</div>
								<div class="comment_content_text">
									<p>轮胎不错，活动期间优惠大，去店安装的时候师傅都说我买的是假的，价格是很合适。轮胎不错，活动期间优惠大，去店安装的时候师傅都说我买的是假的，价格是很合适。轮胎不错，活动期间优惠大，去店安装的时候师傅都说我买的是假的，价格是很合适。轮胎不错，活动期间优惠大，去店安装的时候师傅都说我买的是假的，价格是很合适。轮胎不错，活动期间优惠大，去店安装的时候师傅都说我买的是假的，价格是很合适。</p>
								</div>
								<div class="comment_content_img">
									<ul class="clearfix">
										<li><img src="images/img/comment_pic01.jpg"/></li>
										<li><img src="images/img/comment_pic02.jpg"/></li>
										<li><img src="images/img/comment_pic03.jpg"/></li>
										<li><img src="images/img/comment_pic04.jpg"/></li>
										<li><img src="images/img/comment_pic05.jpg"/></li>
										<li><img src="images/img/comment_pic06.jpg"/></li>
										<li><img src="images/img/comment_pic07.jpg"/></li>
										<li><img src="images/img/comment_pic08.jpg"/></li>
									</ul>
								</div>
								<div class="clearfix comment_content_replenish">
									<div class="fl comment_content_info">
										<span>经济耐用型</span>
										<span>耐驰客 TECHNO</span>
										<span>205/55R16</span>
										<span>2017-11-06 13:06 </span>
									</div>
									<div class="fr comment_content_opera">
										<a  class="comment_praise" href="javascript:void(0);"><i></i>63</a>
										<a  class="comment_num" href="javascript:void(0);"><i></i>31</a>
									</div>
								</div>
								<div class="comment_append">
									<span class="comment_append_time">[购买9天后追评]</span>
									<p class="comment_append_con">一分钱一分货，下次还是舒适静音的，不错！</p>
								</div>
							</div>
						</div>
						<!--评论2：无图片-->
						<div class="comment_item">
							<!--用户信息-->
							<div class="comment_user_wrap">
								<div class="comment_user">
									<i><img src="images/img/comment_img.jpg"/></i>
									<span>j***纺</span>
								</div>
								<p class="fc_gray8">京享值17055</p>
							</div>
							<!--评论内容-->
							<div class="comment_content">
								<div class="clearfix comment_content_star">
									<i class="active"></i>
									<i class="active"></i>
									<i class="active"></i>
									<i class="active"></i>
									<i></i>
								</div>
								<div class="comment_content_text">
									<p>轮胎不错，活动期间优惠大，去店安装的时候师傅都说我买的是假的，价格是很合适。轮胎不错，活动期间优惠大，去店安装的时候师傅都说我买的是假的，价格是很合适。轮胎不错，活动期间优惠大，去店安装的时候师傅都说我买的是假的，价格是很合适。轮胎不错，活动期间优惠大，去店安装的时候师傅都说我买的是假的，价格是很合适。轮胎不错，活动期间优惠大，去店安装的时候师傅都说我买的是假的，价格是很合适。</p>
								</div>
								<div class="clearfix comment_content_replenish">
									<div class="fl comment_content_info">
										<span>经济耐用型</span>
										<span>耐驰客 TECHNO</span>
										<span>205/55R16</span>
										<span>2017-11-06 13:06 </span>
									</div>
									<div class="fr comment_content_opera">
										<a  class="comment_praise" href="javascript:void(0);"><i></i>63</a>
										<a  class="comment_num" href="javascript:void(0);"><i></i>31</a>
									</div>
								</div>
								<div class="comment_append">
									<span class="comment_append_time">[购买9天后追评]</span>
									<p class="comment_append_con">一分钱一分货，下次还是舒适静音的，不错！</p>
								</div>
							</div>
						</div>
						<!--评论3：无追评-->
						<div class="comment_item">
							<!--用户信息-->
							<div class="comment_user_wrap">
								<div class="comment_user">
									<i><img src="images/img/comment_img.jpg"/></i>
									<span>j***2</span>
								</div>
								<p class="fc_gray8">京享值12109</p>
							</div>
							<!--评论内容-->
							<div class="comment_content">
								<div class="clearfix comment_content_star">
									<i class="active"></i>
									<i class="active"></i>
									<i class="active"></i>
									<i class="active"></i>
									<i></i>
								</div>
								<div class="comment_content_text">
									<p>轮胎不错，活动期间优惠大，去店安装的时候师傅都说我买的是假的，价格是很合适。</p>
								</div>
								<div class="comment_content_img">
									<ul class="clearfix">
										<li><img src="images/img/comment_pic01.jpg"/></li>
										<li><img src="images/img/comment_pic02.jpg"/></li>
										<li><img src="images/img/comment_pic03.jpg"/></li>
										<li><img src="images/img/comment_pic04.jpg"/></li>
										<li><img src="images/img/comment_pic05.jpg"/></li>
										<li><img src="images/img/comment_pic06.jpg"/></li>
										<li><img src="images/img/comment_pic07.jpg"/></li>
										<li><img src="images/img/comment_pic08.jpg"/></li>
									</ul>
								</div>
								<div class="clearfix comment_content_replenish">
									<div class="fl comment_content_info">
										<span>经济耐用型</span>
										<span>耐驰客 TECHNO</span>
										<span>205/55R16</span>
										<span>2017-11-06 13:06 </span>
									</div>
									<div class="fr comment_content_opera">
										<a  class="comment_praise" href="javascript:void(0);"><i></i>63</a>
										<a  class="comment_num" href="javascript:void(0);"><i></i>31</a>
									</div>
								</div>
							</div>
						</div>
						<!--评论4：无图片和追评-->
						<div class="comment_item">
							<!--用户信息-->
							<div class="comment_user_wrap">
								<div class="comment_user">
									<i><img src="images/img/comment_img.jpg"/></i>
									<span>那***_</span>
								</div>
								<p class="fc_gold">PLUS会员</p>
							</div>
							<!--评论内容-->
							<div class="comment_content">
								<div class="clearfix comment_content_star">
									<i class="active"></i>
									<i class="active"></i>
									<i class="active"></i>
									<i class="active"></i>
									<i></i>
								</div>
								<div class="comment_content_text">
									<p>轮胎不错，活动期间优惠大，去店安装的时候师傅都说我买的是假的，价格是很合适。轮胎不错，活动期间优惠大，去店安装的时候师傅都说我买的是假的，价格是很合适。轮胎不错，活动期间优惠大，去店安装的时候师傅都说我买的是假的，价格是很合适。</p>
								</div>
								<div class="clearfix comment_content_replenish">
									<div class="fl comment_content_info">
										<span>经济耐用型</span>
										<span>耐驰客 TECHNO</span>
										<span>205/55R16</span>
										<span>2017-11-06 13:06 </span>
									</div>
									<div class="fr comment_content_opera">
										<a class="comment_praise" href="javascript:void(0);"><i></i>63</a>
										<a class="comment_num" href="javascript:void(0);"><i></i>31</a>
									</div>
								</div>
							</div>
						</div>
						<!--评论5：未评价-->
						<div class="comment_item">
							<!--用户信息-->
							<div class="comment_user_wrap">
								<div class="comment_user">
									<i><img src="images/img/comment_img.jpg"/></i>
									<span>朱潇集</span>
								</div>
								<p class="fc_gold">PLUS会员[试用]</p>
							</div>
							<!--评论内容-->
							<div class="comment_content">
								<div class="clearfix comment_content_star">
									<i class="active"></i>
									<i class="active"></i>
									<i class="active"></i>
									<i class="active"></i>
									<i class="active"></i>
								</div>
								<div class="comment_content_text">
									<p>此用户未及时评价，系统默认好评。</p>
								</div>
								<div class="clearfix comment_content_replenish">
									<div class="fl comment_content_info">
										<span>经济耐用型</span>
										<span>耐驰客 TECHNO</span>
										<span>205/55R16</span>
										<span>2017-11-06 13:06 </span>
									</div>
									<div class="fr comment_content_opera">
										<a  class="comment_praise" href="javascript:void(0);"><i></i>63</a>
										<a  class="comment_num" href="javascript:void(0);"><i></i>31</a>
									</div>
								</div>
								<div class="comment_append">
									<span class="comment_append_time">[购买9天后追评]</span>
									<p class="comment_append_con">一分钱一分货，下次还是舒适静音的，不错！</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--footer-->
	<div class="wrap footer">
		<div class="footer_link">
			<ul class="clearfix">
				<li>
					<dl>
						<dt><strong>关于我们</strong></dt>
						<dd><a href="javacript:void(0);">公司介绍</a></dd>
						<dd><a href="javacript:void(0);">诚聘英才</a></dd>
						<dd><a href="javacript:void(0);">联系我们</a></dd>
						<dd><a href="javacript:void(0);">投诉建议</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>售后服务</strong></dt>
						<dd><a href="javacript:void(0);">质量问题</a></dd>
						<dd><a href="javacript:void(0);">退货政策</a></dd>
						<dd><a href="javacript:void(0);">退货流程</a></dd>
						<dd><a href="javacript:void(0);">在线客服</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>支付方式</strong></dt>
						<dd><a href="javacript:void(0);">在线支付</a></dd>
						<dd><a href="javacript:void(0);">支付问题</a></dd>
						<dd><a href="javacript:void(0);">换购说明</a></dd>
						<dd><a href="javacript:void(0);">发票说明</a></dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><strong>平台信息</strong></dt>
						<dd><a href="javacript:void(0);">网站公告</a></dd>
						<dd><a href="javacript:void(0);">媒体报道</a></dd>
						<dd><a href="javacript:void(0);">网贷平台</a></dd>
						<dd><a href="javacript:void(0);">站长统计</a></dd>
					</dl>
				</li>
				<li class="w24">
					<dl>
						<dt class="fw_400">企业QQ  88888888</dt>
						<dd></dd>
						<dd>企业客服    400-XXX-XXXX</dd>
						<dd></dd>
						<dd>(工作时间：9:30-18:30)</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt></dt>
						<dd></dd>
						<dd></dd>
						<dd></dd>
						<dd><a href="javacript:void(0);">在线咨询</a></dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="footer_blogroll">
			<dl class="clearfix">
				<dt><strong>友情链接：</strong></dt>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
				<dd><a href="javacript:void(0);">瓜子二手车</a></dd>
			</dl>
		</div>
		<p class="footer_copyright">选鼎电商有限公司&#160;&#160;Copyright@2017&#160;www.xuandingds.com&#160;All&#160;Rights.版权所有：选鼎电商（XXXXXXXX）</p>
		<div class="footer_auth">
			<ul class="clearfix">
				<li>
					<a href="javacript:void(0);">
						<i class="icon01"></i>
						<span>经营性网站<br/>备案信息</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon02"></i>
						<span>可信网站<br/>信用评价</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon03"></i>
						<span>网络警察<br/>提醒您</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);" style="line-height: 28px;">
						<i class="icon04"></i>
						<span>诚信网站</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon05"></i>
						<span>中国互联网<br/>举报中心</span>
					</a>
				</li>
				<li>
					<a href="javacript:void(0);">
						<i class="icon06"></i>
						<span>网络举报<br/>APP下载</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
//展示切换效果
$(function(){
	var preIndexN , indexN;
	for (var i=0; i<$(".info_tit a").length;i++) {
		if ($(".info_tit a").eq(i).hasClass("active")) {
			indexN = i;
		}
	}
	$(".info_tit a").click(function(){
		if($(this).hasClass("disabled")){
			return false;
		}
		preIndexN = indexN;
		indexN = $(".info_tit a").index(this);
		$(".info_tit a").removeClass("active in reverse");
		$(this).addClass("active");
		if(preIndexN < indexN){
			$(this).addClass("reverse");
		}else{
			$(this).addClass("in");
		}
	});
	$(".goods_top_img_list i").click(function(){
		$(".goods_top_img_list i").removeClass("active");
		$(this).addClass("active");
		var imgSrc = $(this).children("img").attr("src");
		$(".e_zoom").children("img").attr({"src":imgSrc,"data-img-big":imgSrc.split(".")[0]+"_big.jpg"});
	});
	imgEZoom();
});

/*
 * 图片局部放大效果
 * 按照6倍比例放大
 * */
function imgEZoom(){
	var e=arguments.callee.caller.arguments[0]||window.event;//消除浏览器差异
	var obj = $(".e_zoom");
	var imgZoom = obj.children("div"); //图片放大后放置容器
	var imgLump = obj.children("span"); //图片移动时浮动小方块
	var imgBig = imgZoom.children("img"); //放大之后的图片
	var imgLumpW = 140; //小方块的宽度
	var multi = 3; //放大倍数
	
	obj.mousemove(function(e){
		var thisImg = $(this).children("img"); //当前显示的图片
		var imgW = thisImg.width();
		var imgH = thisImg.height();
		
		// 设置放大图片的默认属性
		imgBig.css({"position":"absolute","width":imgW*3+"px","height":imgH*3+"px"});
		
		//鼠标位于当前图片中的坐标位置
		var x = e.clientX - thisImg.offset().left;
		var y = e.clientY - thisImg.offset().top;
		
		//计算放大区域（尺寸60*60）相对于父元素的偏移
		var lumpLeft = 0;
		var lumpTop = 0;
		if(x<=imgLumpW){//小于方块本身时
			lumpLeft = 0;
		}else if(x > (imgW-imgLumpW)){
			lumpLeft = imgW - imgLumpW;
		}else{
			lumpLeft = x - imgLumpW/2;
		}
		if(y<=imgLumpW){
			lumpTop = 0;
		}else if(y > (imgH-imgLumpW)){
			lumpTop = imgH - imgLumpW;
		}else{
			lumpTop = y - imgLumpW/2;
		}

		imgLump.show();//小方块显示
		imgLump.css({"width":imgLumpW+"px","height":imgLumpW+"px","left":lumpLeft+"px","top":lumpTop+"px"});
		
		var _src = thisImg.attr("data-img-big");//在原图中保存的大图的位置
		imgZoom.show(); //放大图片容器显示
		
		//根据鼠标相对于原图的偏移，计算放大图的偏移
        var imgLeft = -1 * lumpLeft * multi;
        var imgTop = -1 * lumpTop * multi;
        imgBig.attr("src",_src); //放大图片添加位置
        imgBig.css({"left":imgLeft+"px","top":imgTop+"px"});//设置图片位置
	});
	//鼠标移除之后
	obj.mouseleave(function(event){
		imgLump.hide(); //小方块隐藏
        imgZoom.hide(); //放大图片容器隐藏
    });
}
</script>
</body>
</html>
